[2021-02-14 15:43] Oceania2018 commented on #750
Related to https://github.com/SciSharp/TensorFlow.NET/issues/721

[2021-02-14 15:43] #750 closed

[2021-02-14 18:50] Tomazzzzz commented on #750
Current version is 0.33.0 TensorFlow.NET
Should I downgrade to some specific version?

[2021-02-14 22:26] Oceania2018 commented on #750
https://www.nuget.org/packages/SciSharp.TensorFlow.Redist/2.3.1

[2021-02-15 05:59] Tomazzzzz commented on #750
THNX!!!

[2021-02-15 15:28] dje-dev opened #751 "Missing "SciSharp.TensorFlow.Redist-Windows-GPU" Version="2.4.1""
Attempts to run from latest committed code fail when switching to GPU version of Tensorflow because the package:
[code]
does not exist (yet!) and using the most recently available package:
[code]
fails with error:
[code]

Thanks!

[2021-02-15 17:03] Oceania2018 commented on #751
Havn't compile GPU version yet. Will do it this week.

[2021-02-17 22:59] cdwetal opened #752 "LSTM Model Loading"
How can I load an LSTM model in TensorFlow.NET? I trained and saved the model in python, and now I would like to load the model in TensorFlow.NET and make a prediction. I have seen no guidance on this in the documentation.

[2021-02-18 16:24] sniper0110 commented on #500
Hi
@bwilson92 were you able to make it work?
Can you share a code snippet on how to load a tflite model and make prediction with it?

[2021-02-19 06:45] help-14 opened #754 "keras.backend.ctc_batch_cost is missing?"
Hi, I'm trying to follow this tutorial on image ORC: https://keras.io/examples/vision/captcha_ocr/

But in keras.backend there is no ctc_batch_cost. Any idea?

[2021-02-19 16:10] LeeReidCSIRO opened #755 "tf.batch_matmul gives "Attempting to capture an EagerTensor without building a function""
Hi,

I'm getting an exception with `Tensorflow.Binding.tf.batch_matmul` the first time, and only the first time, it is called.

Packages:
SciSharp.TensorFlow.Redist 2.4.1
TensorFlow.Keras 0.4.0
TensorFlow.NET 0.33.0

Consider the following example:

[code]

The exception thrown is:
[code]
Now, if I run it first in a try-catch statement, the second time it is called it works:

[code]

I'm new to th

[2021-02-19 17:45] Oceania2018 commented on #755
@LeeReidCSIRO Will be fixed for next release.
![image](https://user-images.githubusercontent.com/1705364/108541303-ec083d80-72a7-11eb-9965-8d584ec10d1b.png)

[2021-02-19 18:48] NiklasGustafsson opened #759 "Tracking ignored unit test 'Max1DPoolingChannelsLast'"
This issue was created to track that I marked the 'Max1DPoolingChannelsLast' unit test 'Ignore' due to an exception deep in TF native code.

[2021-02-19 19:15] Oceania2018 commented on #751
@dje-dev Currently I'm having issues when compiling Windows GPU version, basically it's related to CUDA driver confilict. I'll invest more time to solve it.

[2021-02-20 17:38] #755 closed

[2021-02-21 02:46] alexhiggins732 opened #760 "GradientTape.gradient returning null"
I am porting the Keras [Actor Critic Method](https://keras.io/examples/rl/actor_critic_cartpole/#visualizations) to Tensforflow.net and when I attempt to calculate the gradients it returns null.

[code]

I have posted the full source code to reproduce the issue on this [Gist].(https://gist.github.com/alexhiggins732/320286f89e53c3bb3ae291f5979db1f3)

I have research and found several example saying

[2021-02-21 02:53] alexhiggins732 opened #761 "np.random.choice throws a System.NotSupportedException"
I am porting the Keras [Actor Critic Method](https://keras.io/examples/rl/actor_critic_cartpole/#visualizations) to Tensforflow.net and when I attempt to call  `np.random.choice` it throws a System.NotSupportedException

Gist with full source code to reproduce the issue is [here](https://gist.github.com/alexhiggins732/320286f89e53c3bb3ae291f5979db1f3).
![image](https://user-images.githubuserconten

[2021-02-23 10:08] akaimody123 commented on #752
Hi, I'm also very interested in knowing the answer for this question.

[2021-02-23 12:39] LeeReidCSIRO commented on #755
Many thanks

[2021-02-23 13:51] Sebastian-roko commented on #746
In #762 this problem should be mostly fixed.

[2021-02-23 19:05] veeru612 opened #763 "Winform Support"
Hi,
Thanks for the great package and easy to follow examples.
When I ran a mock model in console application - I get nicely callback output (verbose 1, epoch runs) in the console window. However, when I tried the same in a winform application, there is no output. It still compiles and runs but there is no output.
For eg:
[code]
![image](https://user-images.githubusercontent.com/33726682/108894277-

[2021-02-25 00:57] #746 closed

[2021-02-25 03:29] lsylusiyao commented on #763
I've created a [PR #764](https://github.com/SciSharp/TensorFlow.NET/pull/764) which could solve your problem.

[2021-02-25 08:45] GeorgeS2019 opened #765 "Tensorflow.NET chatbot label?? and Tensorflow.NET.Text"
I know SciSharp has chatbot repositories. e.g. BotSharp etc.
However, Tensorflow.NET repository has a **chatbot** label.

![image](https://user-images.githubusercontent.com/49812372/109126337-6e33ae80-774d-11eb-9fee-f16895088256.png)

Is there a plan to port tensorflow chatbot code (e.g. [transformer](https://blog.tensorflow.org/2019/05/transformer-chatbot-tutorial-with-tensorflow-2.html)) to tens

[2021-02-25 14:55] Oceania2018 commented on #765
@GeorgeS2019 Currenty master branch is foucsed on make NLP/ NLU related task be runnable. The ultimate goal is to support BotSharp to use the state of art NLP model .NET.

[2021-02-25 16:57] dvader9SWAVE commented on #700
Same error for me.
GTX 1650 Ti
Windows 10
32GB RAM
CUDNN 8.0.5 with CUDA 11.0.

[2021-02-25 18:56] veeru612 commented on #763
Hi lsylusiyao,
Thank you for creating  pull request for solving the problem. I have a very stupid (newbie) question, how can I use your code change in my project - should I download the repository, compile and then import the dll into my project ?

[2021-02-25 19:49] veeru612 commented on #763
I downloaded the repository and tried packing tensorflow.keras to generate TensorFlow.Keras.0.5.0.nupkg in the debug folder of the project but I was not able to install it on my project. I am sure I am missing something, new to this so it will take time. I appreciate your help. Thanks,

[2021-02-25 22:30] NiklasGustafsson opened #767 "Conv2D Keras is ambiguous"
In the Keras Layer API, there are two versions of Conv2D, one which identifies activations, initializers, and regularizers by name, and one that identifies them symbolically. When relying on default values for all these, the two are ambiguous, so you have to supply at least one of these arguments, even with the default.

For example:

[code]

This is not onerous, by any means, but it is a little b

[2021-02-25 23:31] Oceania2018 commented on #767
I prefer to keep string version, look more neat and consistent with python convention.
We can remve the strong type version in the future.

[2021-02-26 00:31] lsylusiyao commented on #763
It seems that you've already finished compiling and created the useful nupkg. Then you can just search for `how to install local nuget package in visual studio` and you'll find the answer. :)

[2021-02-26 03:43] minhduc66532 opened #769 "Can you replace Numsharp.Lite with normal NumSharp package ?"
The latest SharpCV package is using NumSharp which conflicts with Tensorflow.NET using Numsharp.Lite. And what is the difference between Numsharp and Numsharp.Lite anyway ? Also, Numsharp is updated more frequently than Numsharp.Lite so yeah..

[2021-02-26 04:11] Oceania2018 commented on #769
Will combine them into NumSharp for next release.

[2021-02-26 04:11] #769 closed

[2021-02-26 04:42] NiklasGustafsson commented on #767
I also prefer the string version. The other version offers the benefit of being able to use custom initializers, for example.

[2021-02-26 21:38] samuelcaldas opened #770 "Implement Actor Critic Method in CartPole environment based on oficial keras example."
I'm trying to implement this example: https://keras.io/examples/rl/actor_critic_cartpole/ using TensorFlow.NET, and I'm getting the following error: _Tensorflow.InvalidArgumentError: 'cannot compute MatMul as input # 1 (zero-based) was expected to be a double tensor but is a float tensor'_. The error occurs when I try _model(state)_. Investigating I discovered that the problem is that at some poin

[2021-02-26 22:45] #540 closed

[2021-03-01 08:10] thong12889 opened #771 "Can't load saved_model with operation name is "encoded_image_string_tensor""
I exported model from Cloud AutoML and my input name is "encoded_image_string_tensor".

    containing encoded PNG or JPEG images. Image resolutions are expected to be
    the same if more than 1 image is provided.

How can I convert image to 1-D string ?
![Saved_model](https://user-images.githubusercontent.com/77138633/109466379-f64ae880-7aac-11eb-9d64-18f8aae6eb26.PNG)

P.S. I can use this model

[2021-03-01 12:46] Oceania2018 commented on #771
Can you provide the full reproduce environment?

[2021-03-01 20:57] liquidiert opened #772 "NullReference Exception in Apply call of a custom Keras model"
Hey Guys :D First of all, I really love this project; keep up the good work!

I unfortunately stumbled upon an issue and I'm not quite sure if it is due to me or from the lib.

I've created a custom Keras model (using tf operations and not layers, cause they throw the same error; class vars omitted) :
[code]

Trying something like this:
[code]

Throws then a NullReference error in the [Apply funct

[2021-03-01 21:47] Oceania2018 commented on #772
@liquidiert Have you taken a look at the [examples](https://github.com/SciSharp/SciSharp-Stack-Examples) before you starting your own model?

[2021-03-01 23:40] thong12889 commented on #771
[code]

Did you mean this ?

[2021-03-02 01:30] thong12889 commented on #771
Sorry, here is my pb file.

[https://drive.google.com/file/d/1lFzFnGz8AeFtn9i8mN5ZxVZWcudcCvT8/view?usp=sharing](url)

[2021-03-02 15:41] liquidiert commented on #772
Meanwhile I've managed to get around that error by using an approach similar to the [FCNEager example](https://github.com/SciSharp/SciSharp-Stack-Examples/blob/34bad859574f33fcd3c442ba486051371041c601/src/TensorFlowNET.Examples/NeuralNetworks/FullyConnectedEager.cs).

But now gradient updates via gradient tape won't work :(

[code]

Preceding code works flawless till the gradient update, where it

[2021-03-05 10:40] dreamsfly900 opened #773 "System.EntryPointNotFoundException:“无法在 DLL“tensorflow”中找到名为“TF_StringEncodedSize”的入口点。”"
TF Core:
C-API 的字符串张量的字节布局已被更新，已与 TF Core/C++ 匹配，即 tensorflow::tstring/TF_TString 的连续数组。
C-API 函数 TF_StringDecode、TF_StringEncode 和 TF_StringEncodedSize 不再被使用，现已移除；关于 C 语言中的字符串访问/修改，请参见core/platform/ctstring.h。
tensorflow.python、tensorflow.core和tensorflow.compiler 模块现在被隐藏。这些模块不再是 TensorFlow 可访问 API 的一部分。
tf.raw_ops.Max 和 tf.raw_ops.Min 不再接受类型为tf.complex64 或 tf.complex128 的输入，因为这些操作对于复杂类型的行为没有被明确定义

[2021-03-06 03:05] Tweekaz2018 commented on #750
Sry, but it doesnt work for me.
I wrote about change version  :(

[2021-03-07 00:49] nathannau opened #774 "LayersApi.InputLayer is missing"
LayersApi.InputLayer(...) is missing.
but LayersApi.Input(...) is not standard

[2021-03-09 14:55] masgh021 commented on #687
Hello
I have this problem ,
i use this solution
[https://github.com/dotnet/machinelearning-samples/tree/master/samples/csharp/getting-started/DeepLearning_ImageClassification_Training/WebApp.Predict]

with winform application
but i have same error
with this version
v2.3  and  v2.4

[2021-03-09 20:01] NiklasGustafsson opened #775 "array_ops.gather raises exception"
While the following works in python:

[code]

The corresponding code blows up with an exception in .NET:

[code]

The problem is in `OpDefLibrary._apply_op_helper()`, where on line 156, `convert_to_tensor` is called, which throws an exception on line 135 because it's given an eager tensor, in graph mode, outside of a function graph. I've been trying to find differences between the .NET implementat

[2021-03-09 23:04] GeorgeS2019 commented on #765
@Oceania2018  Do you see a path how [the NLU codes in Seq2SeqSharp](https://github.com/zhongkaifu/Seq2SeqSharp/issues/19), especially the transformer framework, could be useful in speeding up the NLP/NLU Keras implementation in Tensorflow.NET?

[2021-03-10 13:18] Teddy12155555 opened #777 "NullReference Exception in load_weights function (Tensorflow.Keras.Engine.Model)"
I am building VGG-16 Model
[code]
but when I try to load pre-trained weights to my model, it failed
there is a System.NullReferenceException show below, and I don't know how to resolve it
![image](https://user-images.githubusercontent.com/43286712/110635025-a0312000-81e5-11eb-9f85-382cbba346f0.png)
![image](https://user-images.githubusercontent.com/43286712/110635282-df5f7100-81e5-11eb-971c-8091fc

[2021-03-12 13:04] simonbuehler commented on #664
hi,
is there any progress on this so we could use e.g. posenet tflite model with TensorFlow.net?

[2021-03-12 17:53] nathannau opened #779 "Does "Model.fit" already support named inputs?"
In tensorflow doc : (https://www.tensorflow.org/api_docs/python/tf/keras/Model#fit)

Arguments "x" Can be : "A dict mapping input names to the corresponding array/tensors, if the model has named inputs."

But in tensorflow.net only two signature exist :
    public void fit(IDatasetV2 dataset, IDatasetV2 validation_data = null, int batch_size = -1, int epochs = 1, int verbose = 1, float validation_

[2021-03-12 20:23] FatemehEsfahani opened #780 "model.save does not save anything"
Hi I have tried running MnistFnnKerasFunctional.cs which trains a model on Mnist data and saves it to a file called "mnist_model". However, the model does not save anything. Also, I get error when uncommenting "keras.models.load_model". It says that the load_model does not exist. could any one help with it? Thanks

[2021-03-16 10:48] JulietteV opened #781 "Issue with Conv2DTranspose"
Hello,

I am trying to implement a UNET model. My code looks like this:

[code]

But I get a:
`'System.NotImplementedException' in Tensorflow.Keras.dll`
when trying to execute  the first Conv2DTranspose (u6).

I am using TensorFlow.Keras (0.5.0) and SciSharp.TensorFlow.Redist (2.4.1)

[2021-03-16 21:32] #770 closed

[2021-03-18 04:29] samuelcaldas commented on #761
I'm having the same problem here. Did you find any solution?

[2021-03-18 09:03] lijianxin520 opened #782 "How to use layer_norm or LayerNormalization with tf.keras"
How to use layer_norm or LayerNormalization with tf.keras?
tf.contrib.layers.layer_norm

[2021-03-18 13:16] ButterMeWaffle commented on #650
Is there any update on this issue? I too am experiencing it and even after managing to create a frozen graph I cannot get model to load

[2021-03-20 13:43] Moranic commented on #780
I ran into this myself, AFAIK the save/load functionality just isn't in yet. I ended up making my own save-load functionality. You can get the trainable weights from each layer, and reinstantiate them using a custom KernelInitializer and BiasInitializer. Definitely not how you're _supposed_ to do it, but it works for me.

[2021-03-22 10:18] samuelcaldas commented on #760
Did you find any solution?

[2021-03-22 18:15] bitstormGER opened #785 "Any plans for Tensorflow Graphics?"
First of all many thanks for your amazing work!
Do you have any plans to also cover tensorflow-graphics in the future?

[2021-03-24 10:42] esisl opened #786 "The "NDArray" type exists both in NumSharp.Lite and in NumSharp"
var nd = new NDArray(new int[] { 3, 1, 1, 2 });

The code gives an error

The "NDArray" type exists both in "NumSharp.Lite, Version = 0.1.12.0, Culture = neutral, PublicKeyToken = cc7b13ffcd2ddd51" and in "NumSharp, Version = 0.30.0.0, Culture = neutral, PublicKeyToken = cc7b13ffcd2ddd51"

Unfortunately I couldn't find any ready-made solutions :(

[2021-03-25 15:28] LeeReidCSIRO opened #787 "SquaredDifference gives incorrect gradients"
Hi again,

tf.squared_difference appears to produce incorrect gradients. I don't have a toy example handy, but this is demonstrable by running any training session with an error function like so:

[code]

and comparing to the same run like so:

[code]

In my cases, the second works, while the first learns in the wrong direction. Presumably issue is in `nn_grad._SquaredDifferenceGrad` which is just

[2021-03-25 15:45] Oceania2018 commented on #787
@LeeReidCSIRO Could you PR the handy code as UnitTest with `[IgnoreTest]` annotation.
You can write code in `GradientEagerTest`.
![image](https://user-images.githubusercontent.com/1705364/112501305-1fcafd00-8d57-11eb-8580-68d3a53535c5.png)

[2021-03-25 15:46] Oceania2018 commented on #786
Try to remove `NumSharp.Lite`

[2021-03-26 08:45] octum-sd opened #788 "Session.LoadFromSavedModel fails to load from path with unicode characters"
Hello all,

we have some trouble loading a "savedmodel" from a path like this:
`C:\ProgramData\test\Bördel\Iterations\2021-03-26_08-40-53_6977\savedmodel`
Notice the special character ö.

I load the model with this call:
`_session = Session.LoadFromSavedModel(path);`

This error occurs in the debug console log:

If I remove the character "ö" from the path, then it works fine.
This happens only on

[2021-03-27 17:58] #786 closed

[2021-03-28 01:03] #787 closed

[2021-03-28 05:04] swadhin- opened #790 "Metrics mae"
System.NotImplementedException
  HResult=0x80004001
  Message=
  Source=Tensorflow.Keras
  StackTrace:
   at Tensorflow.Keras.Engine.MetricsContainer._get_metric_object(String metric, Tensor y_t, Tensor y_p)
   at Tensorflow.Keras.Engine.MetricsContainer.<>c__DisplayClass9_0.<_get_metric_objects>b__0(String x)
   at System.Linq.Enumerable.SelectArrayIterator`2.ToArray()
   at System.Linq.Enumerabl

[2021-03-28 05:06] swadhin- commented on #790
[MetricsContainer.cs](https://github.com/SciSharp/TensorFlow.NET/blob/b54cbaa772cdd791155e3aeac90b45c656868a22/src/TensorFlowNET.Keras/Engine/MetricsContainer.cs)

[2021-04-01 02:17] FatemehEsfahani commented on #780
@Moranic Is it possible to share that part of your code?

[2021-04-01 11:21] Moranic commented on #780
You can make a custom initialiser like this:
[code]
The kernel initialiser and the bias initialiser both inherit from IInitializer, so you can provide this one for both.
You can obtain the trainable variables from a layer using this:
[code]
The only other things you need to save per layer is the activation type (you can convert it to your own enum for example) and the number of neurons. I'm curren

[2021-04-02 00:37] bbhxwl opened #791 "Can GPU be supported? I can't support GPU with tensorflowshark"
Can GPU be supported? I can't support GPU with TensorFlowsharp

[2021-04-02 06:03] bbhxwl opened #792 "Why do I use GPU to compute much slower than CPU?"
Why do I use GPU to compute much slower than CPU?

DateTime dt = DateTime.Now;
            for (int i = 0; i < 100000; i++)
            {
                float w = -0.06f;
                float b = -0.73f;
                float sum = w + b;
                //var W = tf.Variable(-0.06f);
                //var b = tf.Variable(-0.73f);
                //var sum = tf.add(W, b);
            }

[2021-04-02 06:20] bbhxwl opened #793 "Can I use cuda9.0?"
Can I use cuda9.0?

[2021-04-03 00:49] FatemehEsfahani commented on #780
@Moranic Thank you so much for sharing this.  I really appreciate.
I am new to C# and for me it seems to be very difficult to implement a similar code like the one you have written in C#. So, I think I would better using keras.NET which allows loading the python Keras models in C#.

[2021-04-03 08:49] zielo-hue opened #794 "Unable to find an entry point named 'TF_StringInit' in DLL 'tensorflow'"
I'm following the tutorial in the TF.NET documentation, and the basic Hello World tutorial fails with:

`Unhandled exception. System.EntryPointNotFoundException: Unable to find an entry point named 'TF_StringInit' in DLL 'tensorflow'.`

I'm using `Include="TensorFlow.NET" Version="0.40.0"` and `Include="SciSharp.TensorFlow.Redist-Windows-GPU" Version="2.4.0"`.
I've got precisely no clue why the He

[2021-04-03 18:20] bbhxwl commented on #794
me too,

[2021-04-04 09:12] zielo-hue commented on #794
It looks like `SciSharp.TensorFlow.Redist-Windows-GPU` is one version (2.4.0) behind `SciSharp.TensorFlow.Redist` (2.4.1), which does not have this issue. Waiting for the 2.4.1 release of Redist GPU seems appropriate here.

[2021-04-04 09:12] #794 closed

[2021-04-05 10:54] bbhxwl commented on #794
Only 2.4.0

[2021-04-09 16:00] bine0josi opened #795 "layers.Conv2D input shape missing"
Hey,
I am currently missing the feature that I can create a convolutional layer with an input shape.
This is how it works in TensorFlow: layers.Conv2D(32, (3, 3), activation='relu', input_shape=(32, 32, 3)) and this returns a layer.
Is there a similar way to do it with tensorflow.net?
I know that I can apply an input after creating the layer, but thsi returns me a tensor and no layer. Am I missing

[2021-04-10 08:54] wangyaxin1998 opened #796 "Why does my batchnormal report an error here"
![image](https://user-images.githubusercontent.com/81554655/114264375-23c87180-9a1d-11eb-9430-854b8dd0a7a1.png)
I use the old version of tensorflow.net to find a place and it will not report an error

[2021-04-10 09:14] wangyaxin1998 commented on #796
Because there is no tf.layers.batchnoraml method in tensorflow.net, I have to use batchnormal in keras. I also saw the example given by the author, layers.batchnormal can run through, but I don’t know what I am wrong where

[2021-04-10 15:22] Oceania2018 commented on #796
@wangyaxin1998 Can you provide runnable UnitTest?

[2021-04-11 00:50] wangyaxin1998 commented on #796
public Graph BuildGraph()
        {

            var graph = new Graph().as_default();

            tf_with(tf.name_scope("define_input"), delegate
            {
                **input_data = tf.placeholder(dtype: tf.float32, shape: (-1, 416, 416, -1), name: "input_data");****
                label_sbbox = tf.placeholder(dtype: tf.float32, shape: (-1, 52, 52, -1, -1), name: "label_sbbox");

[2021-04-11 00:57] wangyaxin1998 commented on #796
I am very sorry that I took your time, I completely imitated the C# version of the code written by https://github.com/YunYang1994/tensorflow-yolov3

[2021-04-11 04:48] alexhiggins732 commented on #760
No.

[2021-04-11 04:48] alexhiggins732 commented on #761
No. And no response from the maintainers. Not encouraging.

[2021-04-11 16:26] Oceania2018 commented on #796
@wangyaxin1998 You should use [v2 version](https://github.com/YunYang1994/TensorFlow2.0-Examples/tree/master/4-Object_Detection/YOLOV3).

[2021-04-13 01:33] wangyaxin1998 commented on #796
![image](https://user-images.githubusercontent.com/81554655/114483184-86e31f80-9c3a-11eb-8ad8-f3fc959028fe.png)
![image](https://user-images.githubusercontent.com/81554655/114483628-48019980-9c3b-11eb-8806-715b1f92b9a9.png)

Thank you for your answer. I have implemented it with the version of tensorflow2.0 and found that when constructing the network, tf.concat cannot be used when the batch_size o

[2021-04-13 02:02] lqdev opened #797 "Missing LayerNormalization & MultiHeadAttention Keras Layers"
@Oceania2018 can you assign this issue to me. I'll try and take a stab at it.

I was trying to see whether implementing the [Keras Transformer recommendation sample](https://keras.io/examples/structured_data/movielens_recommendations_transformers/#create-a-bst-model) is feasible in .NET. However, I believe two of the layers, [LayerNormalization](https://github.com/tensorflow/tensorflow/blob/v2.4.1

[2021-04-15 02:31] #796 closed

[2021-04-17 00:29] Exitare commented on #650
Having the same issue too.

 Tensorflow.InvalidArgumentError: Invalid GraphDef

[2021-04-22 21:05] MPnoy opened #800 "GradientTape.gradient error if tf.slice is used"
// Sample data
var X = np.array(3.3f, 4.4f, 5.5f, 6.71f, 6.93f, 4.168f, 9.779f, 6.182f, 7.59f, 2.167f,
             7.042f, 10.791f, 5.313f, 7.997f, 5.654f, 9.27f, 3.1f);
var Y = np.array(1.7f, 2.76f, 2.09f, 3.19f, 1.694f, 1.573f, 3.366f, 2.596f, 2.53f, 1.221f,
             2.827f, 3.465f, 1.65f, 2.904f, 2.42f, 2.94f, 1.3f);
var n_samples = X.shape[0];

// We can set a fixed init value in order to

[2021-04-22 21:23] Oceania2018 commented on #800
@MPnoy Could you PR the Unit Test here? https://github.com/SciSharp/TensorFlow.NET/blob/master/test/TensorFlowNET.UnitTest/ManagedAPI/GradientTest.cs

[2021-04-22 21:48] MPnoy commented on #800
Done

[2021-04-22 22:18] MPnoy commented on #800
Also I found that GradientTape.gradient after tf.concat always returns (null, null)

[2021-04-22 23:06] Oceania2018 commented on #800
@MPnoy I got `(None, None)` in python:
![image](https://user-images.githubusercontent.com/1705364/115795358-641cdd80-a395-11eb-83f7-405dd5e88cbf.png)

[2021-04-23 00:03] MPnoy commented on #800
@Oceania2018 Thanks for the fix, it works.
About the concat: there is a issue in the tensorflow itself. https://github.com/tensorflow/tensorflow/issues/37726
Except for the rest, there is one working code there: https://github.com/tensorflow/tensorflow/issues/37726#issuecomment-768631785

I rewrote this into unit test and PR if necessary
https://github.com/SciSharp/TensorFlow.NET/commit/83bd764b6a

[2021-04-23 01:01] Oceania2018 commented on #800
@MPnoy Can you PR the runnable one?

[2021-04-24 12:34] #800 closed

[2021-04-24 12:37] Oceania2018 commented on #795
You can have the temp layer variable `simple_rnn_layer`:
[code]

[2021-04-24 12:37] #795 closed

[2021-04-24 12:37] Oceania2018 commented on #793
Not supported.

[2021-04-24 12:37] #793 closed

[2021-04-24 12:38] Oceania2018 commented on #791
You can use `CUDA 10.1` in TensorFlow.NET.

[2021-04-24 12:38] #791 closed

[2021-04-24 12:39] Oceania2018 commented on #785
@bitstormGER What's `tensorflow-graphics` ? do you have the introduction link?

[2021-04-24 12:41] Oceania2018 commented on #782
Added to do list.
https://www.tensorflow.org/api_docs/python/tf/keras/layers/LayerNormalization

[2021-04-24 12:42] Oceania2018 commented on #751
Waiting for tensorflow v2.5.0 to release.

[2021-04-24 12:42] #749 closed

[2021-04-26 03:48] Jitlee opened #804 "How to set gup options, such like set allow_growth"
`config = tf.ConfigProto()`
`config.gpu_options.allow_growth = True`
`session = tf.Session(config=config)`

[2021-04-26 05:44] Jitlee commented on #804
I found it!

[2021-04-26 05:44] #804 closed

[2021-04-26 17:50] LittleLittleCloud opened #805 "Can't load tensorflow.dll"
TF.Net version: 0.20.1
TF binary version: 2.3.1

This issue is reported by a customer from ModelBuilder
- https://github.com/dotnet/machinelearning-modelbuilder/issues/1413

From the log, it seems that somehow model builder can't find tensorflow.dll. However, our customer checks the installation folder and the TF binary is located in the right place.

Any idea what might cause this error?

[2021-04-27 08:45] bitstormGER commented on #785
I would start looking into https://www.tensorflow.org/graphics/overview

[2021-04-27 12:08] Oceania2018 commented on #785
Sorry, no plan for it.

[2021-04-27 12:08] #785 closed

[2021-04-28 01:06] zamanashiq3 commented on #805
use the NuGet manager to SciSharp.TensorFlow.Redist into the project. It solved the problem for me.

[2021-04-28 12:54] MPnoy commented on #722
You seem to have an error in calling the slices: the length of the arrays 2 and 3 of the arguments must coincide and be equal to the dimensions of the input tensor.
print("t slice = " + tf.slice(t1, new int[] **{ 0, 0, 0 }**, new int[] { 1, 2, 3 })); works fine

[2021-04-29 07:39] g-pickardou opened #806 "Very simple working Python XOR sample translated to identical TensorFlow.NET does not work at all or behaves very differently"
I am trying to translate a working Python XOR example to TensorFlow.NET. Both versions are a very short few liners, hopefully just a matter of copy and paste to reproduce (supposing a TensorFlow 2.4.1 environment is already set up)

The translated C# is compiles and runs, but works way differently. When using the loss function `keras.losses.MeanSquaredError()` the C# model does not work at all (lo

[2021-04-30 00:53] Oceania2018 commented on #806
@g-pickardou Thank you for your elaborated description. The bug is fixed in the new source code. We'll release it this weekend.

[2021-04-30 05:50] g-pickardou commented on #806
Many thanks, that was fast.
Could you please point to the commit, which is the fix,  just for curiosity.

[2021-04-30 11:32] Oceania2018 commented on #806
Should be this fix if I don’t remember wrong: https://github.com/SciSharp/TensorFlow.NET/commit/f0030ca9bb407c66c2767b7ea445b3c531b0cef5

[2021-04-30 17:50] bbhxwl commented on #650
me too

[2021-04-30 17:51] bbhxwl opened #807 "TensorFlow.TFException:“Invalid GraphDef”"
Failed to load model, why?

private TFGraph LoadModel(string modelFile)
        {
            var g = new TFGraph();
            var model = File.ReadAllBytes(modelFile);
            g.Import(model,"AA");
            return g;
        }

[2021-05-01 13:06] #806 closed

[2021-05-02 14:36] captainst commented on #650
The .pb file created using object detection api 2 is a saved_model format, which enables eager mode. I don't think that you can load it using the conventional method.
For reference, https://github.com/opencv/opencv/issues/19257, https://github.com/tensorflow/models/issues/8966

[2021-05-02 14:41] ButterMeWaffle commented on #650
Are there any examples of using this saved_model format to detect objects in images? The only examples of this I have found are using a frozen graph with mobilenet or YOLO

[2021-05-02 15:37] captainst commented on #650
I have also been looking for it for some time. To my best knowledge, it is still an un-solved issue. Not about tf.net, but with object detection api 2 itself.
If you happen to find some clue, feel free to share it here. Thank you.

[2021-05-06 11:42] doodleme opened #808 "Training model is significantly slower on tensorflow net gpu"
Hello,
I have similar code written in python and F# and the F# version takes forever to finish. I'm training 600 items one after another and at each iteration a new copy of the model is generated,

[code]
and here's the python model

[code]
Finally they are trained for 15 epochs,
[code]

Listing the libraries,

[code]

[2021-05-06 11:46] doodleme commented on #808
Running cuda 10.1 as stated per documentation

[2021-05-07 06:54] dtrader007 opened #809 "Warning while installing TensorFlow.Net"
I get the following warning during installation. Compiles without issues but when running hello world program it throws unknown error.

Severity	Code	Description	Project	File	Line	Suppression State
Warning		There was a mismatch between the processor architecture of the project being built "MSIL" and the processor architecture of the reference "TensorFlow.NET, Version=0.40.1.0, Culture=neutral, Pub

[2021-05-07 07:49] Inzta commented on #465
@Oceania2018 does TensorFlow.net support some way to write this TensorFlow output to a file? Something like this is used in Python:

import logging

# get TF logger
log = logging.getLogger('tensorflow')
log.setLevel(logging.DEBUG)

# create formatter and add it to the handlers
formatter = logging.Formatter('%(asctime)s - %(name)s - %(levelname)s - %(message)s')

# create file handler which logs ev

[2021-05-12 06:48] mhjabreel opened #810 "tf.py_function, how to?"
How to write this example in C#?

[code]
Thanks

[2021-05-12 14:33] Oceania2018 commented on #810
@mhjabreel Check this example: https://github.com/SciSharp/TensorFlow.NET/blob/07c7835a036d4963a5a5b33aca94f29adb4b7a7d/test/TensorFlowNET.UnitTest/Dataset/DatasetTest.cs#L117

[2021-05-14 04:03] LukeBolly opened #811 "Running CPU 2.4.1 on Ubuntu, what is the correct process to add the Tensorflow C libraries?"
I've got this working on my local windows machine, however our build server which is running Ubuntu fails to load the library

[code]

I've got SciSharp.Tensorflow.Redist 2.4.1 installed, and the .dll's + .so's are being copied to netcoreapp3.1\runtimes as expected on my local machine.

I've tried adding a build step to copy the .so files to the run directory
[code]
I confirmed the presence of the

[2021-05-14 04:17] #810 closed

[2021-05-14 04:19] Oceania2018 commented on #811
Can you try to use this version? https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-cpu-linux-x86_64-2.5.0.tar.gz

[2021-05-14 04:28] LukeBolly commented on #811
Is this file in any of the Nugets? GitHub doesn't allow committing files bigger than 100Mb, so I need to pull it remotely. Can I confirm that release/netcoreapp3.1/ is the correct directory to put the libtensorflow.so and libtensorflow_framework.so?

[2021-05-14 12:40] dje-dev commented on #751
Good news, Tensorflow 2.5 is fully released now!

[2021-05-14 15:42] LukeBolly commented on #811
I've just tested with the .so's from that version, using this to copy
[code]

I've verified the files are in the run directory
![image](https://user-images.githubusercontent.com/24449147/118294928-d6ed2480-b50d-11eb-98ce-9e837a380d90.png)

and I still get the error:
[code]

[2021-05-16 13:24] nhannt201 commented on #687
I also downgraded to 2.3.1 and it works again.

[2021-05-16 15:54] mschwrdtnr commented on #809
For me setting the platform target of my program to x64 fixed this issue and let my application compile.

[2021-05-17 01:23] LukeBolly commented on #811
After finding this, https://github.com/migueldeicaza/TensorFlowSharp/issues/476 I tried copying all the files even though they appear to be the same, and it now works. It seems like there are missing files for the Linux in the Redist Nuget.

[2021-05-19 07:59] bradqiu1982 commented on #664
saved model is the official model format which TF2.x support.
Would you mind to implement  the  saved_model.load function?
Otherwise, Tensorflow.net can not work with TF2.x.
So appreciate for your jobs.

[2021-05-19 08:11] bradqiu1982 commented on #650
I meet the same problem.
At first , I use TF2.x mobilenet , I can detect object from image, but failed to export frozen model which can be used by OPENCV.

Then, I tried TF1.x mobilenet, the customer trained model failed to detect object from image(waste me two weeks - train,convert,load, test).

Now, I come to TF2.x, PLAN A, convert to ONNX format and failed on load.  PLAN B, try Tensorflow.net ,

[2021-05-19 16:12] Oceania2018 commented on #664
It's in progress: https://github.com/SciSharp/TensorFlow.NET/blob/954462f4f835ea561caedc9b0af75aa39c984cb1/src/TensorFlowNET.Keras/Models/ModelsApi.cs#L16

[2021-05-20 09:05] bradqiu1982 commented on #650
A walk-around to use Tensorflow object detect model in C#.

First , using flask and waitress to build a python web service which can load and run tensorflow object detect model:
"#PYTHON CODE
import json
from flask import *

cache = dict()
# initialize the flask application
app = Flask(__name__)
def getOBJDectModel(imgtype):
	if imgtype not in cache:
		model = tf.saved_model.load('./tfrec/ObjectDe

[2021-05-22 06:15] minhduc66532 commented on #664
That's great to hear

[2021-05-22 06:15] #664 closed

[2021-05-23 02:52] #805 closed

[2021-05-23 02:58] Oceania2018 commented on #811
Released [tf 2.5.0 nuget](https://www.nuget.org/packages/SciSharp.TensorFlow.Redist/2.5.0).

[2021-05-23 02:58] #811 closed

[2021-05-23 03:01] Oceania2018 commented on #809
Try latest version [v2.5.0 in NuGet](https://www.nuget.org/packages/SciSharp.TensorFlow.Redist/2.5.0).

[2021-05-23 03:01] #809 closed

[2021-05-23 03:02] Oceania2018 commented on #751
@dje-dev Just released tensorflow v2.5.0 CPU/ GPU native library to [NuGet](https://www.nuget.org/packages/SciSharp.TensorFlow.Redist/2.5.0).

[2021-05-23 03:02] #751 closed

[2021-05-23 03:03] #722 closed

[2021-05-23 18:06] GeorgeS2019 commented on #797
@lqdev  In your approach to MultiHeadAttention, perhaps you could share your feedback to this [thread ](https://github.com/xamarin/TorchSharp/issues/257#issuecomment-845394990)of discussion.

Perhaps we may find more people interested on this topics for .NET

[2021-05-26 13:43] jptrxff commented on #583
@Oceania2018 Could you elaborate on what is the status on this issue? Is it in the plans to implement this feature?

As far as i can see it seems pretty impossible to use models trained in tf2.2 or later with this framework atm. Or am I missing something?

Thanks,

[2021-05-26 15:53] jptrxff commented on #583
Thanks for your reply, but as far as I can see then I would need to specify my model in C# right? My main issue is that my model definition and training are done in python. Thus I am looking for a way of running inference in C# for the model trained in python. (This has btw worked quite good for tensorflow 1.x, so thanks for the good work)

[2021-05-27 10:13] simonbuehler commented on #658
hi,
is there any progress with this, i'd really like to dump numsharp and numpy.net and the conversions between the datatypes back&forth

[2021-05-27 12:28] simonbuehler commented on #650
@bradqiu1982 nice idea, i always wanted to avoid the separation but it seems to make live easier sometimes.
Question: how did you push e.g the webcam image to the model? did you control the webcam in the python script or push via the webrequest? would be nice if you could answer this and if you are satisfied with performance.

[2021-05-27 21:28] rhythmnewt opened #813 "scisharp.tensorflow.redist-linux-gpu 2.5 inludes windows binary instead of linux binaries"
Shouldn't these be a bunch of .so files like in 2.3.1? Edit: changed to 2.3.1 since there was no 2.4.1 for GPU Linux (why?)

![image](https://user-images.githubusercontent.com/1319322/119899201-d04cad00-bf10-11eb-8b42-c9a00e8f87bf.png)

Thanks

[2021-05-27 22:10] rhythmnewt commented on #813
Getting correct binaries fixed my runtime issues:

Dockerfile steps for anyone struggling with the same thing. Insert after copying your .net bin/ to /app
[code]

[2021-05-29 00:14] JackWang0522 opened #814 "model.load_weights is not working"
I have a sequential model built in F#, and want to load the weights of a model trained in Python.

However, when I call
`model.load_weights("path")`

The weights in the model doesn't change at all.

I really hope we can load a model directly from a h5 file in the future, or at least get the load_weights working.

Thanks

[2021-05-31 01:48] bradqiu1982 commented on #650
@simonbuehler  , two ways:    1, save your images to base64 string , wrapper them with Json format and post json object to python service.  2, save the imges to a share folder (one request, one new uniq-id sub-folder), told the python service the share sub-folder name
I think the first solution should work for you.

For me, I am using the second solution, I don't have a so real-time requirement.

[2021-05-31 02:01] bradqiu1982 commented on #650
@simonbuehler  performance??? When you start to use python and AI, please forget performan.

With traditional algorithm, I can get 30 images per second solve speed( only run cpu).
With AI , I just can get 3 images per second solve speed(only run cpu).

So why I choose AI, because it is so smart. With AI , you can write a powerful APP with only 300 lines code. To implement the same function  with t

[2021-06-05 20:36] gosha20777 commented on #418
I have the same problem with Linux

[2021-06-07 15:29] max010515 opened #815 "Getting reproducible results with sequential model"
Hi,
I'm trying to get reproducible results for similar sequential models. My regression model is the following:

var model = keras.Sequential();
model.add(layers.Dense(64, activation: "relu", input_shape: new TensorShape(8)));
model.add(layers.Dense(64, activation: "relu"));
model.add(layers.Dense(64, activation: "relu"));
model.add(layers.Dense(64, activation: "relu"));
model.add(layers.Dense(1))

[2021-06-07 15:30] max010515 commented on #815
I forgot to mention... but sure a big thanks to anyone who'll help :)

[2021-06-11 10:19] gsw88 opened #816 "arguments to Array.Exists() hiding variables needed for correct function"
source file image_ops_impl.cs
https://github.com/SciSharp/TensorFlow.NET/blob/a994a86794c6d26c4d33eb0529253c0f09433296/src/TensorFlowNET.Core/Operations/image_ops_impl.cs#L793

1st occurrence of error
https://github.com/SciSharp/TensorFlow.NET/blob/a994a86794c6d26c4d33eb0529253c0f09433296/src/TensorFlowNET.Core/Operations/image_ops_impl.cs#L841

after pulling the latest repo i noticed VS giving se

[2021-06-14 09:18] LukeBolly commented on #418
I'm having a similar problem, I've got about 20 unit tests and memory isn't being completely returned after each one. I'm calling:
_session.graph.Dispose();
_session.Dispose();

I'm seeing slight growth after each one that loads a saved model
![image](https://user-images.githubusercontent.com/24449147/121869243-6a478e80-cd34-11eb-98bd-beb14fa87c89.png)

I am also using
Session.LoadFromSavedModel(m

[2021-06-14 12:16] Oceania2018 commented on #418
@gosha20777 @LukeBolly Could you PR an minimul runnable code into https://github.com/SciSharp/TensorFlow.NET/tree/master/src/TensorFlowNet.Benchmarks/Leak?

[2021-06-18 02:47] oluwandabira opened #817 "keras.preprocessing.image_dataset_from_directory fails with ValueError"
Attempting to run the script
[code]

fails with
[code]

I've also tried putting similar code into a project and got the same result.

[2021-06-18 12:37] ashbeats opened #818 "tf.signal missing from api"
Hi,

I'm noticing that some modules are missing or implemented differently in Tensorflow.Net

Specifically, I'm trying to find the `tf.estimator` and `tf.signal` namespaces.

Any ideas?

Thanks.

[2021-06-25 08:43] #818 closed

[2021-06-25 20:16] Tomazzzzz opened #819 "Evaluate trained model each run different results"
I have code below, each time I run it with the same source data I get different result.
Could some one explain what is wrong?
`//START
var graph = tf.Graph().as_default();
var saver = tf.train.import_meta_graph(_modelMetaPath);
var featuresTensor = graph.get_tensor_by_name($"{Features}:0");
var correctPrediction = graph.get_tensor_by_name($"{Prediction}:0");
using (var sess = tf.Session(graph))
{

[2021-06-29 05:23] vivid216 opened #820 "how to train NDArray size max then int.MaxValue"
[code]

[2021-07-01 19:47] Tomazzzzz opened #821 "Save Session"
Hello,
I can find public static Session LoadFromSavedModel(string path)
But where is SaveSession ?

[2021-07-02 12:46] sportbilly21 commented on #583
Hello
Model created in Python, saved in pb format not hd5 with Keras.
How I can loaded and run inference?
Many thanks

[2021-07-03 16:55] bitstormGER commented on #262
Any progress on this topic?

[2021-07-12 13:09] mikesneider commented on #814
HI @JackWang0522 did you solve by yourself this issue? I got an error too, but my error is trying to import the assembly HDF5CSharp, Version=1.1.10.500.

[2021-07-12 13:19] mikesneider commented on #777
Hi @Teddy12155555 Did you solve the problem? I have a similar issue

[2021-07-14 07:04] mishun opened #822 "Gradient of tf.reduce_sum(_, axis = _) throws an exception"
Hi!

This example (it creates 2x2 matrix, uses tf.reduce_sum on it and tries to differentiate the result):
[code]
causes following exception:
[code]

[2021-07-15 12:58] Oceania2018 commented on #658
@simonbuehler Check out update: https://twitter.com/ScisharpStack/status/1415652428830154752

[2021-07-15 14:42] Esther2013 opened #823 "tf.linalg.lstsq"
Solves one or more linear least-squares problems.
https://www.tensorflow.org/api_docs/python/tf/linalg/lstsq

[2021-07-15 14:59] nomis51 commented on #814
I also get an error while loading h5 file using `model.load_weights`. I'm getting an exception `NotImplementException` after calling `executing_eagerly_outside_functions`. Not really sure what's happening. My model was also trained in Python and it runs fine in Python.

[2021-07-23 09:46] SentientCoffee opened #825 "How to load a custom Keras model using the current API?"
I'm trying to load a Python-trained SavedModel Keras model from disk to a Unity project. I am able to load the PB file, but trying to import it into a Graph object results in a InvalidGraphDef error.

Is there a way to load Keras models from disk via either the SavedModel format or the HDF5 format? Or is it just a matter or waiting for the implementation update? I saw that the latest master as of

[2021-07-26 21:15] mishun commented on #822
I tried to look into fixing that and, if I understand correctly, these lines are culprit:
https://github.com/SciSharp/TensorFlow.NET/blob/6adcfaea3ff6f5c9d2437e54b66d781c4c16a72a/src/TensorFlowNET.Core/Gradients/math_grad.cs#L530-L533

Now I don't understand how `_SumGrad` works. Isn't is supposed to look at `keep_dims` here:
https://github.com/SciSharp/TensorFlow.NET/blob/6adcfaea3ff6f5c9d2437e54

[2021-07-28 20:23] DNF-SaS opened #829 "How to use Bidirectional in TensorFlow.NET?"
Hi,

I'd like to use Keras.Layers.Bidirectional (https://github.com/SciSharp/Keras.NET/blob/master/Keras/Layers/Wrappers.cs#L35) from TensorFlow.NET.
Unfortunately, it's not implemented in TensorFlow.Keras (at least I cannot find it it's LayersApi) - or do I miss a point?!
I'm pretty new to these libs, so any advice or workaround is highly appreciated. :-)

Thanks for a short reply!
Sascha

[2021-07-29 20:16] Tomazzzzz opened #830 "Tensorflow.LookupError : No gradient defined for operation 'cond_7/Rsqrt' (op type: Rsqrt)"
Hello,
I am trying to use batch_normalization.
I tried 2 way and got the same error.
First way:
`nn_impl.batch_normalization(y, batchMean, batchVar, beta, gamma, epsilon);`

Second way:
`        protected Tensor BatchNorm(Tensor x, Tensor gamma, Tensor beta, Tensor movingMean, Tensor movingVar, float eps)
        {
            var inv = tf.cast(math_ops.rsqrt(movingVar + eps), x.dtype);

[2021-08-03 19:41] Tomazzzzz commented on #819
Hello,
The exception comes from:
`   throw new LookupError($"can't get graident function through get_gradient_function {op.type}");`
File, 'ops.gradient_function_mapping.cs' in `public static Func<Operation, Tensor[], Tensor[]> get_gradient_function(Operation op) `method.

[2021-08-04 20:00] Tomazzzzz opened #831 "control_flow_ops.cond not working as expected"
There is a test in the solution 'testCondFalse_ConstOnly()'
It asserts one condition but not another.
So after modification of the test, I confirm that result comes always from false branch.
The test bellow succeeds.
`

       [TestMethod]
        public void testCondFalse_ConstOnly()
        {
            var graph = tf.Graph().as_default();
            using (var sess = tf.Session(graph))

[2021-08-04 20:05] Tomazzzzz commented on #831
Also, the test bellow fails at first assert.
`
[Test]
public void ZZZ_cond()
{
using (var graph = tf.Graph().as_default())
{
var IsTrainingTensor = tf.placeholder(TF_DataType.TF_INT32);
using (var sess = tf.Session(graph))
{
var z = tf.cond(tf.constant(true),
() => tf.constant(22, name: "t22"),
() => tf.constant(11, name: "f11"));
var result = sess.run(z);
Assert.AreEqual(result, 22);
result = ses

[2021-08-05 10:57] ChristopherPS96 opened #832 "binary crossentropy loss function not supported?"
Hello,
just three short question:
1. Is binary_crossentropy not supported yet? Can't find it under keras.losses. and could really need it for my multilabel problem
2. Can I implement it myself? Through extending from ILossFunc with my own custom class?
3. Does Keras.NET has this loss function? But after reading through the github page, I dont think this and Keras.NET doesnt work together.

Thanks

[2021-08-09 01:03] zj2050 commented on #702
hi, have you get any function to save as a single .pb file? thanks

[2021-08-09 01:39] zj2050 opened #833 "How to Freeze Graph in single .pb file with Tensorflow.Net"
when train finished , i wanted to save graph in single .pb file , the save code like
`
public void SaveModel(Session sess)
        {
            //save checkpoint of model using train.Saver.
            var saver = tf.train.Saver();
            var save_path = saver.save(sess, ".resources/logistic_regression/model.ckpt");
            print("Finish save checkpoint");
            //this will only sa

[2021-08-09 14:18] Oceania2018 commented on #833
Not implemented yet.

[2021-08-09 18:06] Tomazzzzz opened #834 "Tensorflow.LookupError : No gradient defined for operation 'Add_3/y' (op type: Cast)"
After updating from, version 0.4 to 0.6, I have this error:
  Tensorflow.LookupError : No gradient defined for operation 'Add_3/y' (op type: Cast)

[2021-08-09 22:47] ginnyliou opened #835 "Model.save_weights broken in the latest version"
Model.save_weights throw the following exception under the latest packages (Tensorflow.Net v0.60.0, and Tensorflow.Keras v0.6.0)

[code]

Note: v0.40.1 and v0.5.1 works.

[2021-08-10 02:09] Oceania2018 commented on #834
fixed for v0.60.1. will release soon.

[2021-08-10 03:05] Oceania2018 commented on #835
fixed in v0.60.1, will release soon.

[2021-08-10 04:29] #835 closed

[2021-08-10 04:29] #834 closed

[2021-08-10 04:31] Oceania2018 commented on #832
https://github.com/SciSharp/SciSharp-Stack-Examples/blob/3f1713cdb4ae033878978224c3921adfa680c746/src/TensorFlowNET.Examples/GAN/MnistGAN.cs#L182

[2021-08-10 04:31] #832 closed

[2021-08-11 14:24] Muhammad-Talha-MT commented on #833
@Oceania2018 Please guide,  how to perform prediction in this case?

[2021-08-12 18:50] Oceania2018 commented on #833
@Muhammad-Talha-MT will upload sample code soon.

[2021-08-12 21:58] zj2050 opened #836 "cancel"

[2021-08-12 21:59] #836 closed

[2021-08-15 19:13] svenrog commented on #493
Performance difference is actually quite big, running a rather deep model (~200 layers) can make the compute time go from seconds (python) to minutes (.net).
Also: using `SciSharp.TensorFlow.Redist-Windows-GPU` with a Geforce 3080 is a couple seconds slower than just running `SciSharp.TensorFlow.Redist` on an overclocked I7.

[2021-08-15 20:46] Oceania2018 commented on #493
@svenrog It will help us if you can narrow down the root cause with sample code provieded.

[2021-08-16 09:02] Superpiffer commented on #717
@Oceania2018, starting from TF.NET 0.60.0, .NET Framework 4.8 is not supported anymore:
![image](https://user-images.githubusercontent.com/1334453/129538636-5ad84c01-529e-4737-80ff-ee9727745569.png)

[2021-08-16 13:35] Oceania2018 commented on #717
@Superpiffer We changed the default framework to .net standard 2.1 to support new language feature.

[2021-08-16 13:43] pervin0527 opened #837 "TensorFlow.NET Can load a tflite model to perform inference??"
Hello. I want to perform inference on tflite model in unity.

Since unity's barracuda does not support modern model computation, we are considering using Tensorflow.NET.

Tensorflow.NET looks very good, but it doesn't say it can support  tf-lite model or not, so I'm asking this question.

[2021-08-16 14:10] Superpiffer commented on #717
So we cannot update your library anymore, at least until we migrate all our packages to net5.0. Bummer... Thanks for the answer! 😃

[2021-08-16 15:55] Oceania2018 commented on #717
@Superpiffer It'll change back to .net standard 2.0 for next release.

[2021-08-18 03:40] seabluescn opened #838 "How to use Tensorflow.net for transfer learning?"
Hi,
I tried to use the following code:
Model model = keras.models.load_model(ModelFile);
But i found the function:"keras.models.load_model " What is returned is void type.
Thanks!

[2021-08-18 20:53] asadowns opened #839 "TensorFlow.NET issues with NuGet2Unity"
I am not able to get the `SciSharp.TensorFlow.Redist` and `TensorFlow.NET` packages working in my unity environment using NuGet2Unity. The packages are downloaded but the `nupkg` files are not expanded and there are no `dll` files. If I manually unzip the `nupkg` files I am able to find a DLL in the `TensorFlow.NET` package but not in the `SciSharp.TensorFlow.Redist` which will not unzip at all.

[2021-08-19 00:37] Oceania2018 commented on #839
@asadowns Are you using .net standard 2.0?

[2021-08-19 00:50] seabluescn opened #840 "About transfer learning"
Hi,
How to use Tensorflow.NET to implement code similar to the following by Python?

# Start
best_model=tf.keras.models.load_model("models/chapter11_q8_bestmodel.h5")
best_model.layers[0].trainable=False

l_layer=len(best_model.layers)-1
new_model=Sequential(best_model.layers[0:l_layer])

new_model.add(Dense(5,activation=tf.nn.softmax))
# End

Thanks!

[2021-08-19 16:51] asadowns commented on #839
@Oceania2018 I have tried both `.net standard 2.0` and `.net 4.x`.

[2021-08-20 01:23] zj2050 commented on #833
Hi , when will upload new sample?

[2021-08-20 18:57] asadowns commented on #839
@Oceania2018 is there any other option for than NuGet for using these bindings in Unity. I saw in this [post](https://forum.unity.com/threads/tensorflow-dot-net-experiences.891163/) the author was able to build a unity package from the DLLs but unfortunately I don't know how to do that.

I tried using NuGet in a regular .NET project and that worked as expected but unfortunately I wasn't able to fi

[2021-08-21 13:28] Oceania2018 commented on #839
@asadowns Can you try the updated version?
https://www.nuget.org/packages/TensorFlow.NET/0.60.2
https://www.nuget.org/packages/TensorFlow.Keras/0.6.2

[2021-08-21 14:36] Oceania2018 commented on #838
Please check this example: https://github.com/SciSharp/SciSharp-Stack-Examples/blob/master/src/TensorFlowNET.Examples/ImageProcessing/TransferLearningWithInceptionV3.cs

[2021-08-21 14:36] #838 closed

[2021-08-21 14:36] Oceania2018 commented on #840
Please check this example: https://github.com/SciSharp/SciSharp-Stack-Examples/blob/master/src/TensorFlowNET.Examples/ImageProcessing/TransferLearningWithInceptionV3.cs

[2021-08-21 14:36] #840 closed

[2021-08-21 14:37] #814 closed

[2021-08-22 23:34] asadowns commented on #839
@Oceania2018 that seemed to do the trick. What changed?

In case anyone has this issue, I did have to make a few more changes to get it running in my environment.

1. I had issues with `Fody`. It was getting both the `netclassic` and `netstandard` dlls and was missing some `MSBuild` dependencies. I had to remove the `Fody` dependency and use [FodyHelpers](https://www.nuget.org/packages/FodyHelpers

[2021-08-22 23:34] asadowns opened #841 "keras.models.load_model returns void"
I'm trying to load a previously trained HDF5 model using `keras.models.load_model`.

[code]

Looking at the tensorflow documentation this method should return a model: https://www.tensorflow.org/api_docs/python/tf/keras/models/load_model

However when I go to the function declaration I see

[code]

It looks like this should probably not be void but be a keras `Model` that is the return type?

[2021-08-23 11:10] Oceania2018 commented on #839
I changed back to .netstandard 2.0.
[Microsoft.ML.TensorFlow.Redist](https://www.nuget.org/packages/Microsoft.ML.TensorFlow.Redist) is Tensorflow v1.x.
Is [SciSharp.TensorFlow.Redist](https://www.nuget.org/packages/SciSharp.TensorFlow.Redist/) not working?

[2021-08-23 11:10] #839 closed

[2021-08-23 11:11] Oceania2018 commented on #841
@asadowns `models.load_model` is not completed. Please use `load_weights` instead.

[2021-08-23 11:11] #841 closed

[2021-08-23 11:15] Oceania2018 commented on #821
[code]

[2021-08-23 11:15] #821 closed

[2021-08-23 12:54] xinheblue opened #842 "can latest tensorflow.net support .netframework 4.7.x"
latest tensorflow.net can only support being installed on netcore projects, due to other issues, we can only use netframework such as netframework 4.7.2, we cann't install the latest master branch.

Can this be supported for the master branch？

Best regards!

[2021-08-23 16:47] Tomazzzzz commented on #821
_But where is SaveSession ?_
So with "graph.Import("model.pb");" I will be able to save **save session**?

THNX

[2021-08-23 17:10] asadowns commented on #839
[SciSharp.TensorFlow.Redist](https://www.nuget.org/packages/SciSharp.TensorFlow.Redist/) is not working. Here is the error that occurs.

I do have `using static Tensorflow.Binding;` in my code. Any thoughts? Fwiw, I removed `Microsoft.ML.TensorFlow.Redist` and now after I get it back I can't get it working again even with that.

[code]

[2021-08-23 19:25] asadowns commented on #839
@Oceania2018 thanks again for looking into this. I had the same issues with nuget with `scisharp.tensorflow.redist`. So I had to manually unpack and copy to the dlls into my plugins folder. I'm wondering if the `scisharp.tensorflow.redist` package also needs to be rebuilt for `.netstandard 2.0`. Again, appreciate all your help with this. Thanks for the responses.

[2021-08-23 20:44] asadowns commented on #841
@Oceania2018 Any idea when `load_model` will be completed? My issue with using `load_weights` is that I need to recreate all of the inputs and outputs rather than just load a saved model. Is this not the case? Maybe I'm missing something.

If possible can you point me towards some documentation? Or is my understanding correct that I will need to recreate the input and output layers and then call `

[2021-08-24 14:01] Oceania2018 commented on #842
@xinheblue Should be able to support .net framework 4.7.2 acoording to https://docs.microsoft.com/en-us/dotnet/standard/net-standard. TensorFlow .NET is based on `.netstandard 2.0`.

[2021-08-24 14:06] Oceania2018 commented on #821
[code]

[2021-08-24 14:11] Oceania2018 commented on #839
`scisharp.tensorflow.redist` is C binary library. nothing to do with `.net`.

[2021-08-24 14:14] Oceania2018 commented on #841
Pretty busy recently, no estimation to finish `load_model`.
Yes, you need to build the model then `load_weights`.

[2021-08-24 15:40] aschoenebeck opened #843 "Exception on tape.gradient()"
Using huber loss keras.losses.Huber().

[code]

[code]

[2021-08-25 02:38] #842 closed

[2021-08-25 07:01] LukeBolly commented on #418
@Oceania2018 I haven't had time to create a repro for you, but I've been debugging another issue and have come across some stuff leftover from TensorFlow.NET in a memory dump after my TF process has finished and calling dispose on the graph and session

![image](https://user-images.githubusercontent.com/24449147/130741929-cd5ebb57-16e9-47ea-b636-bbfa9b8815fa.png)

[2021-08-25 20:10] aschoenebeck opened #844 "How to set Adam learning rate?"
This throws an exception:

[code]

[2021-08-26 05:36] LukeBolly opened #845 "NDArrays with Tensorflow.NumPy no longer support NumSharp style slicing"
Doing things like `results[":,1"];` is no longer possible in 0.6 as a result of changing the NumPy implementation from NumSharp to Tensorflow.NumPy

Could you provide any examples of slicing supported by Tensorflow.NumPy if it's possible?

[2021-08-27 08:06] Superpiffer opened #846 "Tensorflow.NumPy not thread safe"
I upgraded from version 0.40 to version 0.60.2 and now in our multithread application Numpy operations seems not to be thread safe anymore:

![image](https://user-images.githubusercontent.com/1334453/131092927-3bcb9d6a-f5ae-4dc6-8af0-82bc21a2d8ec.png)
![image](https://user-images.githubusercontent.com/1334453/131093117-78f1895f-fc63-4cd9-9b90-df2efb07dd1e.png)

I tried to enclose with `lock (Locks

[2021-08-27 09:55] aschoenebeck opened #847 "GradientTape.gradient() exception: The given key 'Pack' was not present in the dictionary"
I have written a custom training loop with a mask operation (tf.multiply). Unfortunately I get an error when calculating gradients.

Here are the ops recorded on tape:

  | Name | Value | Type
-- | -- | -- | --
tf.call();
▶ | [0] | {ReadVariableOp, inputs: 23} | Tensorflow.Gradients.OpTapeEntry<Tensorflow.BackwardFunction, Tensorflow.Gradients.TapeTensor>
▶ | [1] | {MatMul, inputs: 1997,2004} | Te

[2021-08-27 09:56] #844 closed, assigned to nobody

[2021-08-27 12:59] feliwir opened #848 "Support 'tensorflow::MemmappedEnv' for memory mapped graphs"
Hey, i was trying to load the mozilla deepspeech model, which are usually provided as memory mapped graphs, see Mozilla DeepSpeech as an example:
https://github.com/mozilla/DeepSpeech/releases/tag/v0.9.3

They're loading the file in their native api like this:
https://stackoverflow.com/questions/43533264/how-to-read-tensorflow-memory-mapped-graph-file-in-android

However i couldn't find `tensorflo

[2021-08-28 06:51] seabluescn opened #849 "Is there an example of transfer learning in Eager mode?"
As the title.
Thanks!

[2021-08-28 12:54] Oceania2018 commented on #849
There is only one [example](https://github.com/SciSharp/SciSharp-Stack-Examples/blob/master/src/TensorFlowNET.Examples/ImageProcessing/TransferLearningWithInceptionV3.cs) wrapped up.

[2021-08-28 17:48] Oceania2018 commented on #846
@Superpiffer It's been fixed, it will take effect for v0.60.3.

[2021-08-28 17:56] #846 closed

[2021-08-28 17:56] #849 closed

[2021-08-29 07:35] Tomazzzzz commented on #830
Hello,
Another issue with gradient :(
Tensorflow.LookupError : No gradient defined for operation 'Elu' (op type: Elu)

[2021-08-29 19:52] #845 closed

[2021-08-31 03:29] LukeBolly opened #850 "Documentation on what objects need to be disposed to release all memory"
Can we get some documentation on how to release all memory used by TF.NET after running some models?

So far, it seems like just about everything in the library needs to either be in a `using` or disposed manually.

Graph related clean-up:
Graph objects: `_trainSession.graph.Dispose();`
Session objects: `_trainSession.Dispose();`

Data related clean-up:
NDArray objects

Is there anything else I'm

[2021-08-31 04:11] LukeBolly commented on #850
If it turns out that NDArrays need to be manually disposed, then allowing implicit casts can be quite dangerous because a method accepting an NDArray does not necessarily return it, so the handle to the object is immediately lost.

[2021-08-31 04:39] LukeBolly commented on #418
Hi @Oceania2018, I've updated to the latest version. After running all of my unit tests and checking the managed memory at the end, there are still a large number of Tensorflow objects left in memory.

I've gone through my code and added Dispose() to all graphs, sessions, NDArrays, but I still end up with this locked up in memory:
![image](https://user-images.githubusercontent.com/24449147/1314428

[2021-08-31 08:00] LukeBolly commented on #418
While I can't share the model I'm using, loading and disposing it in a loop confirms there is an issue cleaning up resources when working with a SavedModel.

[code]

![image](https://user-images.githubusercontent.com/24449147/131465336-f3666a8e-d2a3-4e7e-a75d-8e918174d474.png)

[2021-08-31 11:18] jimn-purecars opened #851 "Fix Documentation Examples"
I am trying to follow the documentation examples, particularly:
https://github.com/SciSharp/TensorFlow.NET/blob/master/docs/source/NeuralNetwork.md

But there are several discrepancies between the code there and what is actually supported by the library today. Particularly, the MNIST data loading isn't done how the example shows, and `tf.get_variable` is used but does not exist, a call to `tf.matm

[2021-08-31 14:14] Oceania2018 commented on #850
`NDArray` will be disposed by GC automatically. `NDArray` is initialized by copying memory always. So it's allocation and dispose by itself (managed by GC).
You can test to allocate ndarray repeatly, then monitor the memeory consumption.

[2021-08-31 14:23] Oceania2018 commented on #418
@LukeBolly Does it apply to any model? whether the other models cause the same issue?
Another way might be able to release the resource is `tf.Context.reset_context()`.

[2021-08-31 14:25] Oceania2018 commented on #851
Please follow the latest [sample source code](https://github.com/SciSharp/SciSharp-Stack-Examples/tree/master/src/TensorFlowNET.Examples/NeuralNetworks).

[2021-08-31 14:44] LukeBolly commented on #418
Yep, I've run it again with a very simple model which is just a bunch of Conv layers and a call signature, and I'm seeing the same behavior:

![image](https://user-images.githubusercontent.com/24449147/131523491-194dffb9-870b-4052-8d53-46864e7a0c61.png)

This model is small and initialises much faster so the chart is smoother, but its the same behavior:
![image](https://user-images.githubuserconte

[2021-08-31 14:54] LukeBolly commented on #850
Ah okay that is good to know, definitely simplifies things a bit. I'll leave this issue open however because currently the information on how to clean-up is scattered through open and closed issues.

[2021-08-31 15:09] LukeBolly commented on #418
I'll try to get a repro up for you tomorrow if I get time.

[2021-09-01 14:50] Oceania2018 commented on #850
I can reproduce the issue but with no idea how to fix for this moment, need take more time to investiage.
Have you tried this way? https://github.com/SciSharp/SciSharp-Stack-Examples/blob/master/src/TensorFlowNET.Examples/ImageProcessing/InceptionArchGoogLeNet.cs

[code]

[2021-09-02 01:16] LukeBolly commented on #850
graph.Import is for a frozen graph whilst Session.LoadFromSavedModel is for SavedModel format, the two are not interoperable unfortunately so it doesn't work for my use case.

[2021-09-02 12:18] Oceania2018 commented on #850
Why do you LoadFromSavedModel repeatly? I can be loaded once and shared the session in one process.

[2021-09-03 06:01] LukeBolly commented on #850
Is the Session / Graph threadsafe? We have a multithreaded serving instance with concurrent calls happening, so I was following advice like here: https://github.com/keras-team/keras/pull/13116#discussion_r307488853

"Note that Keras models can't be guaranteed to be thread-safe. Consider having independent copies of the model in each thread for CPU inference."

[2021-09-03 08:17] quanap5kr commented on #702
Sorry,  I have been missing this thread.

This is the way I give it a try.

""" try
                {
                    var checkpoint = checkpoint_management.latest_checkpoint(Model.ModelCheckPointSetting.Directory);
                    if (!File.Exists($"{checkpoint}.meta"))
                    {
                        File.Copy(Path.Combine(Model.ModelCheckPointSetting.Directory, Model.Model

[2021-09-04 01:34] Oceania2018 commented on #850
@LukeBolly It's not threadsafe.

[2021-09-04 13:20] Oceania2018 commented on #850
@LukeBolly Now it's stable now, it keeps in 46M cost.

![image](https://user-images.githubusercontent.com/1705364/132095824-f6bb4d8e-94c1-438a-aa8c-5d84c1ff91cd.png)

Please upgrade to v0.60.3.

[2021-09-04 13:20] #850 closed

[2021-09-04 13:25] #851 closed

[2021-09-04 13:27] Oceania2018 commented on #848
@feliwir We're implementing the Lite (mobile) version in this [tflite branch](https://github.com/SciSharp/TensorFlow.NET/blob/v0.70-tflite/test/TensorFlowNET.Native.UnitTest/Lite/TfLiteTest.cs).
Feel free to contribute.

[2021-09-04 14:16] feliwir commented on #848
@Oceania2018 I guess you mean "Xamarin Mobile"? No i'm using desktop .NET 5. I'm currently trying to add the memory mapped filesystem, once i get it working i'll update here

[2021-09-04 14:45] Oceania2018 commented on #848
Yes, currently tf.net doesn't support tflite model. Not sure whether it works or not in the way of `codedInput.ReadMessage(graphDef);`
There is another way to load graph:
[code]

[2021-09-04 15:00] feliwir commented on #848
@Oceania2018 the problem is not the regular tflite model, but the memmapped filesystem:
https://github.com/tensorflow/tensorflow/blob/5dcfc51118817f27fad5246812d83e5dccdc5f72/tensorflow/core/util/memmapped_file_system.cc#L209
It's the file wrapped in another file

[2021-09-04 20:45] Tomazzzzz opened #853 "Same meta, index and data files different results on different machines."
Hello,

I have 2 PC Win10, Ryzen 5900x 32GB.
I move one trained network form one PC to another and it's continues to train with huge error.
But, if I continue to train on the same machine, it continues from the point it was stopped, no huge error.

Even, if I delete all check points and leave the last one, the same happens.
It seems, that, it some how bounds to PC/machine and if moved to another P

[2021-09-05 12:49] Oceania2018 commented on #848
The `GraphDef` is converted to `MemmappedFileSystem`, and you want to load this format in your application, correct?

[2021-09-05 17:39] feliwir commented on #848
Exactly. I think the extension **.pbmm** is used to clarify clarify this.

[2021-09-05 20:50] feliwir commented on #848
This does not work with **Stream** objects. I can't use a path, since the file is only virtual, so i have to use protobuf directly or not?

[2021-09-05 20:57] feliwir commented on #848
I got it working like this now:
(MemmappedFileSystem)
[code]
And then the actual usage:
[code]
As you can see i'm now kind of stuck with the **GraphDef** object which is kind of useless

[2021-09-05 21:30] Oceania2018 commented on #848
I add this `MemmappedFileSystem` proto in this [commit](https://github.com/SciSharp/TensorFlow.NET/commit/f3a51daba4ab7b13d97ef0c8ec5e5dfe6cdbc0ee).

[2021-09-05 21:36] feliwir commented on #848
@Oceania2018 great thanks! One last question: How can i fetch metadata from my model like here:
https://github.com/mozilla/DeepSpeech/blob/master/native_client/tfmodelstate.cc#L101

I tried using the **FeedItem** constructor, but with no real success yet :-/

[2021-09-06 05:51] LukeBolly commented on #850
Great! I noticed you don't dispose the session / graph now, are they automatically cleaned up when the reference is removed?

[2021-09-07 01:30] Oceania2018 commented on #850
`using` syntax clean reference automatically.

[2021-09-07 09:34] Superpiffer commented on #846
@Oceania2018 I just updated to v0.60.3 but I have the same problem with the same test code:
![image](https://user-images.githubusercontent.com/1334453/132321815-364913d8-d58e-426c-b413-da11a127f681.png)

[2021-09-08 04:17] LukeBolly commented on #418
@Oceania2018
Unfortunately the fix added appears to bypass loading the graph entirely, see here:

![image](https://user-images.githubusercontent.com/24449147/132445678-6ed6becb-460d-4e25-9a39-437312e20154.png)

The graph is disposed as soon as it loads, as a result it isn't usable in any way.

[2021-09-08 10:52] Oceania2018 commented on #848
The error may raised from `new Tensor("metadata_version")`, you should find the coresponding tensor  in the way of `graph.OperationByName("metadata_version")`

[2021-09-08 11:00] Oceania2018 commented on #846
@Superpiffer It seems an other error, can you find out which variable is null?

[2021-09-08 11:06] feliwir commented on #848
Yes, i'll do a PR, good suggestion!
When i do:
[code]
i'm not quite sure how to get an integer scalar out of that. Whatever i try - it crashes or does not contain the "6" which i'd expect.

[2021-09-08 11:28] Oceania2018 commented on #848
[code]

[2021-09-08 11:32] feliwir commented on #848
@Oceania2018
[code]

[2021-09-08 11:34] Oceania2018 commented on #848
Carefully for this:
![image](https://user-images.githubusercontent.com/1705364/132502305-07be51dc-c5fd-4039-b8e9-340d37e2af49.png)

[2021-09-08 11:36] feliwir commented on #848
Wow thanks! That worked

[2021-09-08 12:25] Superpiffer commented on #846
I tried adding TensorFlow.Binding project from master to my solution. More frequently I have this exception (file _tf.compat_):
![image](https://user-images.githubusercontent.com/1334453/132507672-4419f974-d29d-44dd-8e34-2fd16125599d.png)
Sometime I have this different exception (file _EagerRunner.TFE_FastPathExecute.cs_):
![image](https://user-images.githubusercontent.com/1334453/132507361-974053

[2021-09-08 12:30] feliwir commented on #848
One last question before i close this issue. Using **numpy()** works for all scalar integers, but when i try to use it on the string tensor ("metadata_alphabet") it crashes:
[code]
In the native API they use the **tstring** type and then perform some deserialization. I tried using the explicit string conversion and the **StringData** function. Both with no success. Any advice?

[2021-09-08 13:15] feliwir commented on #837
@pervin0527 this is being worked on for the next release: https://github.com/SciSharp/TensorFlow.NET/tree/v0.70-tflite

[2021-09-09 17:27] Maxtomouse opened #855 "Linear Regression Eager"
Operator '*' cannot be applied to operands of type 'ResourceVariable' and 'NDArray'

I tried your first-page example but got this error on line:

var pred = W * X + b;

[2021-09-09 17:52] #855 closed

[2021-09-09 18:04] Oceania2018 commented on #848
@feliwir Check these [UnitTests](https://github.com/SciSharp/TensorFlow.NET/blob/master/test/TensorFlowNET.UnitTest/ManagedAPI/StringsApiTest.cs).

[2021-09-11 15:39] Racines opened #856 "How to pass to model compile multiple loss function?"
Hello,
I want to pass multiple loss functions to my model but the compile method do not accept more than one loss function.

I want my two defined output use a different loss function
How can I achieve this?

from the [doc ](https://scisharp.github.io/Keras.NET/api/Keras.Models.BaseModel.html#Keras_Models_BaseModel_Compile_Keras_StringOrInstance_System_String_System_String___System_Single___System

[2021-09-14 05:50] lijianxin520 opened #857 "tf.clip_by_global_norm Do not implement"
tf.clip_by_global_norm Do not implement？Is there an alternative?

[2021-09-14 06:44] LukeBolly commented on #418
@Oceania2018 I've put up a PR that fixes the issue with the graph and extended the test to ensure it runs, it seems like there is still a small leak somewhere though: #858

[2021-09-16 07:53] Licho1 opened #859 "model.load_weights freezes on linux machines"
It works fine on windows, but on linux (tested on AWS EC2 instance) model.load_weights never completes despite having correct permissions and path to weights.

[2021-09-16 09:24] domiishn opened #860 "Creating Random Forest Model with TensorFlow.NET"
Hello,
is anyone using TensorFlow.NET for coding a Random Forest Model?

[2021-09-18 13:51] maciejjeicam opened #861 "Tensorflow.ValueError: 'The tensor dropout/Identity:0 at layer l_s_t_m_2 is part of a cycle.'"
Hi,
I am creating my first LSTM model with few layers: Input + LTSM + LTSM +Dense(output).
Can anyone please help me to understand what might be wrong (Tensorflow.ValueError: 'The tensor dropout/Identity:0 at layer l_s_t_m_2 is part of a cycle.') that I can proceed with debugging?
thank you

[2021-09-20 09:28] Andy-Elizabeth-mouse commented on #773
TF Core:
The byte layout of the C-API string tensor has been updated to match TF Core/C++, that is, a continuous array of tensorflow::tstring/TF_TString.
The C-API functions TF_StringDecode, TF_StringEncode and TF_StringEncodedSize are no longer used and have been removed; for string access/modification in C language, please refer to core/platform/ctstring.h.
The tensorflow.python, tensorflow.core

[2021-09-20 09:53] Andy-Elizabeth-mouse opened #862 "Add Keras Functional API"
Hello,
I think Keras Functional API can be added to allow python users to migrate faster. Some of them may already be used to functional programming and are eager to program in the same way in .NET.
In order to achieve this requirement, I wrote a document about Keras Functional API for my project based on the TensorFlow.NET/src/TensorFlowNET.Keras/Layers/LayersApi.cs file. It seems to work very we

[2021-09-20 15:37] Andy-Elizabeth-mouse commented on #829
Bidirectional's api is still waiting for you to create it(at least this project does not have this feature yet) :-)

[2021-09-20 19:02] Oceania2018 commented on #773
It's been already supported since [v2.5.0](https://www.nuget.org/packages/SciSharp.TensorFlow.Redist/2.5.0).

[2021-09-20 19:02] #773 closed

[2021-09-22 02:51] rhythmnewt commented on #813
Seriously? It's been FOUR MONTHS since this was reported and no updated nuget package with fixed binaries???? SMH

[2021-09-22 13:31] PachiBlub opened #863 ""System.NotImplementedException" when running Sess.run(fetch, feed)"
Hello TensorFlow.NET Team,

first of all, huge respect for the great effort from everyone involved building this awesome tool!

Unfortunately, I have an issue while trying to inference with a CNN, which has a 5 dimensional input-tensor and a 5 dimensional output-tensor.

Here is the basic code I am using to load the trained model and to start the inference:

[code]

When running this code ```Sess.

[2021-09-22 15:09] Oceania2018 commented on #863
You can use `NDArray` to init like tests [here](https://github.com/SciSharp/TensorFlow.NET/blob/master/test/TensorFlowNET.UnitTest/Numpy/Array.Creation.Test.cs).

[2021-09-22 15:11] Oceania2018 commented on #813
@rhythmnewt We can release the Linux gpu package due to binary file size limitation by NuGet. Please raise issue to NuGet.

[2021-09-22 16:10] alecelis opened #864 "Make Graph for bidirectional LSTM"
In "rnn.static_bidirectional_rnn" function gives me the exception "if default_name is None then scope is required"
The structure of the recurrent neural network is the same of the example "DigitRecognitionLSTM"

[2021-09-23 10:53] PachiBlub commented on #863
@Oceania2018 Thank you for the quick response!

I tested the my adjusted code for ```InitTensor()``` with the mentioned UnitTest.
However the tests don't show any problems.

So the creation of a 5 dimensional tensor seems to work. 👍

But I still get the "System.AccessViolationException: attempted to read or write protected memory".

That is the StackTrace for this error:

"at Tensorflow.c_api.TF_G

[2021-09-23 12:09] Oceania2018 commented on #863
Have you looked at the [examples repo](https://github.com/SciSharp/SciSharp-Stack-Examples)?
I can't tell what issue has if I can't reproduce the issue.

[2021-09-23 21:51] Licho1 commented on #859
After adding global lock, I get a visible exception:
[code]

[2021-09-23 21:56] Licho1 commented on #859
Fixeable by copying native libhdf libraries from runtime folder to the bin folder. Likely bug in HDF itself

[2021-09-24 07:46] PachiBlub commented on #863
Thanks for the comment.
I looked at the examples repo and changed the code to make at like the example code:

old:
[code]

new:

[code]

the new code loads a frozen graph of a model without problems, but

[code]

throws a System.NullReferenceException "object reference not set to an instance of an object"

So I guess my model is the source of the issue?

[2021-09-24 08:20] #859 closed

[2021-09-24 15:43] Oceania2018 commented on #863
Does the model run in python?

[2021-09-25 06:56] PachiBlub commented on #863
Yes, I train the model in python and do inference in python too.
I then save the model as frozen graph in a .pb file.
I can also load the frozen model back in python and to do inference again.
But when I try to load the same frozen model in C# then I get the  "System.NullReferenceException "object reference not set to an instance of an object" when running ```Sess.run(fetch, feed); ```

[2021-09-25 09:11] PachiBlub commented on #863
I have found the reason for my error.
The session was not using the correct graph.
It works with:

[code]

[2021-09-25 09:11] #863 closed

[2021-09-26 00:08] darth-vader-lg opened #865 "Missing conversions from TF_DataType to numpy."
Some conversions from TF_DataType to numpy and some return values for the sizes of TF_DataType are missing; [see my commit 372b958](https://github.com/darth-vader-lg/TensorFlow.NET/commit/372b958dd7eb2bbdd257ab3771091089e08abd6b)
[code]

[2021-09-28 18:16] Oceania2018 commented on #865
@darth-vader-lg It's been merged, thanks for your contribution.

[2021-09-28 18:16] #865 closed

[2021-10-07 12:04] pantokrr opened #867 "Load image into tensor from byte[] buffer?"
Hi!

Is it possible to load an image into a tensor from a byte[] array? The use case would be that the image, e.g. a JPEG, is received over a network connection.

Reading a JPEG from disk using the following, works fine:
[code]

Is there any way to have `data` read from a byte[] array instead?

I have tried with:
[code]
however, this results in an exception being thrown:
[code]

Any ideas?

[code]

[2021-10-07 19:51] #867 closed, assigned to nobody

[2021-10-12 14:24] Superpiffer commented on #846
No error with 1 thread, some random errors with 2 or more (THREADS_COUNT variable using the example posted before).

[2021-10-14 03:28] lijianxin520 opened #868 "model.fit exception Value cannot be null. (Parameter 'first')"
Hello, I am learning Tensorflow, and the following error occurred in the use process
![image](https://user-images.githubusercontent.com/47262889/137245796-62c19ad0-94d1-4911-97d2-6d7cb6c2bee7.png)

[2021-10-14 04:02] #868 closed

[2021-10-14 11:01] lijianxin520 opened #869 "TF.gradienttape () with tF.gradients"
Hello, I would like to ask that the value calculated using TF.gradienttape () is not the same as tF.gradients
![image](https://user-images.githubusercontent.com/47262889/137304853-a11406f6-cf3d-4909-9581-b099e4c144cc.png)
![image](https://user-images.githubusercontent.com/47262889/137305108-f78e73df-a4b2-4baf-9f14-e94f9589f5ff.png)

[2021-10-14 14:41] Leo-LiHao opened #870 "How to use a average pooling?"
I found max_pooling2d, but not found avg_pooling2d in the APIs. How can I apply that in a neural network? Thanks.

[2021-10-19 04:45] Leo-LiHao opened #871 "Why model.predict only returns the latest batch result?"
Check out the code:
https://github.com/SciSharp/TensorFlow.NET/blob/master/src/TensorFlowNET.Keras/Engine/Model.Predict.cs#L27

[2021-10-19 04:46] Leo-LiHao opened #872 "Can we make model.evaluate have a return value?"
This interface returns a KeyValuePair:
https://github.com/SciSharp/TensorFlow.NET/blob/master/src/TensorFlowNET.Keras/Engine/Model.Evaluate.cs#L65
but this one does not:
https://github.com/SciSharp/TensorFlow.NET/blob/master/src/TensorFlowNET.Keras/Engine/Model.Evaluate.cs#L25
Can we add the same return value for the latter interface?

[2021-10-19 05:58] IamSierraCharlie opened #873 "System.NotImplementedException: ''"
I have the following code that I have ported from python which was part of a working prorgam that grabbed images from a camera and detected objects in the provided image. (I also raised this at StackOverlow but wasnt sure where the place to raise it was)
[code]
I am seeing a "not implemted error"

[https://i.stack.imgur.com/hVkJe.png](url)

Initially I thought it might have been something to do wi

[2021-10-20 12:28] IamSierraCharlie opened #874 "How can you set the Datatype"
I am parsing a bitmap grabbed from a USB vision camera as a bitmap to tensorflow

I have the following code:
[code]

When I call this, I am getting
Exception thrown: 'System.Exception' in TensorFlow.NET.dll
An exception of type 'System.Exception' occurred in TensorFlow.NET.dll but was not handled in user code
make_tensor_proto Not Implemented

it fails at this line:
`Tensor image_as_tensor = tf.co

[2021-10-23 15:14] lindadamama opened #875 "can not find LayerNormalization"
can not find LayerNormalization

[2021-10-25 20:05] #874 closed, assigned to nobody

[2021-10-30 12:49] ausoldier opened #876 "why .net slowly than python and run slowly in gpu than cpu?"
I use tensorflow.net to predit classisify the images. my environment is tensoflow.net0.60.4 、Tensorflow.Keras 0.6.4、SharpCV 0.10.1 、Redist-windows-gpu 2.6.0、OpencvSharp4.runtime.win 4.4.020200915。I write code python and .net，and found .net version slowly than python.
here is my python code:
'''
model_path = "train-renforce.h5"
base_dir = 'dataset'
test_dir = os.path.join(base_dir,'test1')
model =

[2021-11-01 14:33] theFra985 opened #877 "Example links in wiki pointing to old examples directory"
Hi,
I noticed the wiki links for each example seem to still point to the old /test/TensorFlowNET.Examples/BasicModels directory instead of pointing to the correct examples project (e.g. [here](https://tensorflownet.readthedocs.io/en/latest/LogisticRegression.html)).

Is there a reason for them not being updated (like the examples project being WIP or some examples missing)?

[2021-11-09 01:27] zamanashiq3 opened #878 "Is It Possible to Add Lambda Layers in Tensorflow.Keras Layers?"
I have been trying to train a Model initially developed with Python TensorFlow Keras library and had Keras Lambda layers it the said Model. As I am trying to convert it to this library I found missing Labda lambda layers.

Any suggestions for the Lambda implementations in this library will be greatly appreciated.

[2021-11-09 16:06] mohaned-abid opened #879 "xamarin.ios supported?"
can I use this in xamarin.ios ?

[2021-11-09 21:09] Oceania2018 commented on #879
@mohaned-abid Can you try this https://github.com/SciSharp/TensorFlow.NET/tree/master/test/TensorFlowNET.Native.UnitTest/Lite ?

[2021-11-09 23:48] mohaned-abid commented on #879
I'll give  it  a  shot  thanks !

[2021-11-11 06:26] lindadamama commented on #782
missing layerNormalization
https://github.com/tensorflow/tensorflow/tree/v2.7.0/tensorflow/python/keras/layers/normalization

[2021-11-11 06:40] lindadamama commented on #797
missing layerNormalization
However, Torchsharp's APIS are complete
https://github.com/tensorflow/tensorflow/tree/v2.7.0/tensorflow/python/keras/layers/normalization
https://github.com/dotnet/TorchSharp/tree/main/src/TorchSharp/NN/Normalization

[2021-11-11 09:04] lindadamama commented on #875
missing layerNormalization
However, Torchsharp's APIS are complete
https://github.com/tensorflow/tensorflow/tree/v2.7.0/tensorflow/python/keras/layers/normalization
https://github.com/dotnet/TorchSharp/tree/main/src/TorchSharp/NN/Normalization

[2021-11-11 14:01] Oceania2018 commented on #782
@lindadamama It's been already implemented, here is an example: https://github.com/SciSharp/SciSharp-Stack-Examples/blob/83668294eda65e5bc73c6d7d6276c1fa5057a88a/src/TensorFlowNET.Examples/GAN/MnistGAN.cs#L70

[2021-11-11 14:04] Oceania2018 commented on #875
Same as https://github.com/SciSharp/TensorFlow.NET/issues/782

[2021-11-11 14:04] #875 closed

[2021-11-11 14:21] lindadamama commented on #782
Shouldn't BatchNormalization and LayerNormalization be the two methods?

[2021-11-11 14:35] Oceania2018 commented on #782
@lindadamama Sorry, my mistake. I will add this task in to-do-list.
https://keras.io/api/layers/normalization_layers/layer_normalization/

[2021-11-15 13:17] Superpiffer commented on #846
@Oceania2018 I just tried again and the only solution I found is to put `tf.enable_eager_execution()` before the lines where I had the exceptions, apparently the EagerMode was disabled by other operations.
Anyway I tried to disable Eager mode with `tf.compat.v1.disable_eager_execution()` but for some reason I cannot perform Numpy operations:

![image](https://user-images.githubusercontent.com/1334

[2021-11-15 16:50] Oceania2018 commented on #846
@Superpiffer Yes, `Eager Mode` is required for `NumPy`,
It's supposed to enabled automatically by `MethodBoundaryAspect.Fody` component.
Please make sure your start project has installed `MethodBoundaryAspect.Fody` as well:

![image](https://user-images.githubusercontent.com/1705364/141821349-25e1e286-c784-45fb-aa72-30d87386ba39.png)

[2021-11-16 08:37] Superpiffer commented on #846
Thanks for the answer. I tried installing the library and it correctly switches between eager and graph mode (even without `MethodBoundaryAspect.Fody` I think) but it still doesn't work with multiple threads (I'm trying with 5 or more).
I checked the threads:
- One returns an exception here:
![image](https://user-images.githubusercontent.com/1334453/141947073-ec2fec39-d0bf-4e52-acb9-2603450bb882.p

[2021-11-17 00:16] Oceania2018 commented on #846
Could you upload your latest updated project?

[2021-11-17 09:13] Superpiffer commented on #846
Here's the test project:
[TensorflowMultithreadingTest.zip](https://github.com/SciSharp/TensorFlow.NET/files/7553156/TensorflowMultithreadingTest.zip)

I included Tensorflow.Binding from master in the solution and I already shared the segmenter and the test images before.
Native libraries (TF 2.6 and CUDA) are located elsewhere:

![image](https://user-images.githubusercontent.com/1334453/142170345

[2021-11-17 22:50] Oceania2018 commented on #846
@Superpiffer It's working without any issue.

![image](https://user-images.githubusercontent.com/1705364/142295041-b0a964e4-9663-43e2-8ed3-8ca4a165d4af.png)

[2021-11-18 00:45] Tsohndeq opened #880 ".Net 6 accuracy on training doesn't changing"
Training on .Net 6 basically not working, but on .Net 5 all is good.

#### TensorFlowNet.Examples(MNIST CNN (Eager)):

##### .Net 5:

[code]

##### .Net 6:

[code]

#### Custom CNN code:

[code]

##### .Net 5:

[code]

##### .Net 6:

[code]

### System info

OS: Manjaro linux(arch-based), Windows 10

[2021-11-18 09:21] Superpiffer commented on #846
@Oceania2018 Ok I'm dumb... I noticed that in your test there are less images than my test, apparently i forgot that I added other images in "1" folder! Can you try with this folder?
[cats.zip](https://github.com/SciSharp/TensorFlow.NET/files/7561352/cats.zip)

I also noticed that in your test you used the CPU version of tensorflow native, I tried that and the problem seems to be less frequent, I

[2021-11-19 00:23] Oceania2018 commented on #880
Hi @Tsohndeq , I'm aware of this issue yesterday as well, will take a deep look once I got chance.

[2021-11-19 02:51] Oceania2018 opened #881 "Crash when using GPU"
[code]
[code]

[2021-11-22 07:51] Tomazzzzz opened #882 "System.NullReferenceException at Tensorflow.Contexts.Context.executing_eagerly() some times when training small network with batch set."
The error appears randomly, but more frequently when training small batch (32).
On large network training this exception never has been seen.

System.NullReferenceException: Object reference not set to an instance of an object.
   at Tensorflow.Contexts.Context.executing_eagerly()
   at Tensorflow.BaseSession._call_tf_sessionrun(KeyValuePair`2[] feed_dict, TF_Output[] fetch_list, List`1 target_lis

[2021-11-23 06:22] dupeng0224 opened #883 "is there any methods can implement [:,:,::-1] operate in python"
there is a ndarray like [[[2,3,4], [2,3,4], ...,[2,3,4]]]  i want convert it to [[[4,3,2], [4,3,2], ...,[4,3,2]]]。
 in python i can do [:,:,::-1], in C# or Tensorflow.Net is there any method to implement it?

[2021-11-24 03:11] cross-hello commented on #416
I am facing the same so. Anyone would give a hand?

[2021-11-24 03:21] cross-hello commented on #883
You could use **NumSharp** NuGet package, then the game is just easy as [":,:,::-1"]
You can reference from here [NumSharp Slice](https://medium.com/scisharp/slicing-in-numsharp-e56c46826630)

[2021-11-24 03:50] dupeng0224 commented on #883
thanks for you answer, this is resolved my problem perfect.

[2021-11-24 03:50] #883 closed

[2021-11-25 08:58] CrimyTheBold commented on #856
I'm also interested to build a multi-head (value head + policy head) model

[2021-11-29 01:24] #881 closed

[2021-11-29 07:51] cross-hello opened #884 "Tensorflow.Numpy.NDArray constructor abnormal?"
Here are my code:
[code]
Point A will raise a error like this:
![image](https://user-images.githubusercontent.com/42733664/143828028-2d53c34b-1358-4f89-a806-318d9f7c3ca0.png)

But if I use `Tensorflow.NumPy.NDArray aa= (Tensorflow.NumPy.NDArray)a.ToArray();` in the position of Point A, the question solved.
Now I want to know if it is some of my error or others cause it happen.

[2021-11-29 20:24] Oceania2018 commented on #884
@cross-hello Can you try this [sample](https://github.com/SciSharp/TensorFlow.NET/blob/b048b62436d4d6a439f9816ef56f3604622365ba/test/TensorFlowNET.UnitTest/Numpy/Array.Creation.Test.cs#L49)?

[2021-11-30 09:31] cross-hello commented on #884
OK
I try:
[code]
The code pass. Could you figure me why it happen?

[2021-11-30 10:41] lindadamama opened #885 "missing feature tf.einsum()"
missing feature tf.einsum()
https://github.com/tensorflow/tensorflow/blame/747a44448768d1d50322b6100c45ca7374d40e88/tensorflow/python/ops/special_math_ops.py
https://github.com/tensorflow/tensorflow/blame/7334db370cfc2272e1b508d7fe1c059ec97e65bc/tensorflow/python/ops/special_math_ops.py#L1170

[2021-12-01 15:36] Tomazzzzz opened #886 "Exception after upgrade TensorFlow.NET form 0.60.4 to 0.60.5"
Message:
System.Exception : make_tensor_proto Not Implemented

  Stack Trace:
tensor_util.make_tensor_proto(Object values, TF_DataType dtype, Shape shape, Boolean verify_shape, Boolean allow_broadcast)
constant_op.convert_to_graph_tensor(Object value, TF_DataType dtype, Shape shape, String name, Boolean verify_shape, Boolean allow_broadcast)
constant_op.constant(Object value, TF_DataType dtype, Sh

[2021-12-02 02:37] #885 closed

[2021-12-02 02:38] Oceania2018 commented on #876
Can you retry v0.60.5?

[2021-12-02 02:41] Oceania2018 commented on #843
@aschoenebeck Can you try v0.60.5?

[2021-12-02 02:55] Oceania2018 commented on #869
Can you elaborate your issue?

[2021-12-02 10:25] CrimyTheBold opened #887 "Exception : You are trying to load a weight file containing System.String[] layers into a model with x layers"
As a model is not threadsafe, I'm trying to clone an existing model to use each clones in separate threads. I'm using save_weights + load_weights to recreate the clone (note that if you have another way to do it without using files, I'm in)

While loading the clone with load_weights I have the exception.
tensorflow.net 0.40.1
tensorflow.keras 0.5.1
scisharp.tensorflow.redist-windows-gpu 2.5.0

I r

[2021-12-02 11:14] Tomazzzzz commented on #886
I will do it ASAP.

[2021-12-02 12:13] WaylandGod opened #888 "System.NullReferenceException after calling tf.Variable"
![image](https://user-images.githubusercontent.com/6711913/144419042-66fb0a20-d548-487e-bd0a-da97b835f75a.png)
![image](https://user-images.githubusercontent.com/6711913/144419196-f62aae9d-b917-41d9-9b0d-720b4b17651d.png)
Is there any point needed to pay attention to when calling tf.Variable？

[2021-12-03 02:50] Oceania2018 commented on #888
@WaylandGod Please reference this [example](https://github.com/SciSharp/TensorFlow.NET/blob/e40be9338012df6f84ad923967df4b2ea7a7ab9b/test/TensorFlowNET.Graph.UnitTest/Basics/VariableTest.cs#L14).

[2021-12-03 02:50] #888 closed

[2021-12-04 12:16] CrimyTheBold commented on #887
Just tested with
tensorflow.net 0.60.5
tensorflow.keras 0.6.5
scisharp.tensorflow.redist-windows-gpu 2.6.0

same result

[2021-12-05 02:43] Oceania2018 commented on #887
@CrimyTheBold
You can try to reset context before building a new model:
[code]

[2021-12-05 10:20] Tomazzzzz commented on #886
Hello, this code fails after update.

[code]

System.Exception: make_tensor_proto Not Implemented
   at Tensorflow.tensor_util.make_tensor_proto(Object values, TF_DataType dtype, Shape shape, Boolean verify_shape, Boolean allow_broadcast)
   at Tensorflow.constant_op.convert_to_graph_tensor(Object value, TF_DataType dtype, Shape shape, String name, Boolean verify_shape, Boolean allow_broadcast)

[2021-12-05 17:09] Oceania2018 commented on #886
Fixed for next release.

[2021-12-05 17:09] #886 closed

[2021-12-05 17:09] #887 closed

[2021-12-05 17:28] Oceania2018 commented on #884
Fixed for next release.

[2021-12-05 17:28] #884 closed

[2021-12-05 17:32] Oceania2018 commented on #862
This is [Functional API](https://github.com/SciSharp/SciSharp-Stack-Examples/blob/master/src/TensorFlowNET.Examples/ImageProcessing/MnistFnnKerasFunctional.cs) example.

[2021-12-05 17:32] #862 closed

[2021-12-05 17:32] #843 closed

[2021-12-05 17:33] Oceania2018 commented on #837
Here is the [tflite example](https://github.com/SciSharp/TensorFlow.NET/blob/master/test/TensorFlowNET.Native.UnitTest/Lite/TfLiteTest.cs).

[2021-12-05 17:34] #848 closed

[2021-12-05 17:34] #823 closed

[2021-12-05 17:36] Oceania2018 commented on #822
Can you update with latest version?
If the issue still exist, please reopen this issue and PR a C# unit test to repreduce.

[2021-12-05 17:36] #822 closed

[2021-12-05 17:37] Oceania2018 commented on #833
Please check this [example](https://github.com/SciSharp/SciSharp-Stack-Examples/blob/master/src/TensorFlowNET.Examples/ImageProcessing/DigitRecognitionCNN.cs).

[2021-12-05 17:37] #833 closed

[2021-12-05 17:39] Oceania2018 commented on #817
Should have been fixed in latest version.

[2021-12-05 17:39] #817 closed

[2021-12-05 17:44] Oceania2018 commented on #860
In TODO list.
[Neural Decision Forests](https://keras.io/examples/structured_data/deep_neural_decision_forests/)

[2021-12-05 17:45] Oceania2018 commented on #820
Latest version changed to `long` type.

[2021-12-05 17:45] #820 closed

[2021-12-05 17:46] #790 closed

[2021-12-05 17:55] Oceania2018 commented on #792
Please try latest version.

[2021-12-05 17:55] #792 closed

[2021-12-05 18:02] Oceania2018 commented on #807
[code]

[2021-12-05 18:02] #807 closed

[2021-12-05 18:03] Oceania2018 commented on #777
Please try latest version.

[2021-12-05 18:03] #777 closed

[2021-12-05 18:07] Oceania2018 commented on #772
@liquidiert Please try latest version.

[2021-12-05 18:07] #772 closed

[2021-12-05 18:09] Oceania2018 commented on #815
@max010515 Do you mind upload a complete runnable demo?

[2021-12-05 18:43] mishun commented on #822
I haven't checked it yet, but since nothing has changed in
https://github.com/SciSharp/TensorFlow.NET/blob/6d2135833151adeb5aae5801256c8ee3b40ea652/src/TensorFlowNET.Core/Gradients/math_grad.cs#L497
for pretty long time I'm reasonably sure that it still doesn't work. Equivalent part in tensorflow's code suggests that there's some optimization there that just isn't implemented:
https://github.com/t

[2021-12-05 19:51] Oceania2018 commented on #870
Added for next release.

[2021-12-05 19:51] #870 closed

[2021-12-05 19:55] Oceania2018 commented on #822
@mishun You can PR a test in [this file](https://github.com/SciSharp/TensorFlow.NET/blob/master/test/TensorFlowNET.Graph.UnitTest/GradientTest/GradientTest.cs).

[2021-12-06 01:42] cross-hello commented on #884
Thank you~

[2021-12-06 21:09] mishun commented on #461
From what I can see, complex conjugation is just how original python tensorflow library defines gradients of complex functions. Seems a bit ugly, but this library is expected to emulate tensorflow and those `math_ops.conj`-s should be there. I thinks this issue can be closed.

[2021-12-06 21:09] #461 closed

[2021-12-07 21:52] CrimyTheBold opened #890 "Multithreading with Keras models : various exceptions"
As a model is not threadsafe, I'm trying to clone an existing model to use each clones in separate threads. I'm using save_weights + load_weights to recreate the clone (note that if you have another way to do it without using files, I'm in)

tested on
tensorflow.net 0.40.1
tensorflow.keras 0.5.1
scisharp.tensorflow.redist-windows-gpu 2.5.0

and
tensorflow.net 0.60.5
tensorflow.keras 0.6.5
scisharp

[2021-12-09 02:21] Oceania2018 commented on #890
Fixed for next release.
Check the [UnitTest](https://github.com/SciSharp/TensorFlow.NET/blob/master/test/TensorFlowNET.Keras.UnitTest/MultiThreadsTest.cs).

[2021-12-10 08:20] CrimyTheBold commented on #876
I just did some experiment on my current C# code. I'm doing reinforcement learning that alternate between practice (lots of cpu computation and lots of prediction with the model) and training (dataprep and fit)
With version v0.40.1 I tried the CPU redist vs the GPU redist on exactly the same code. I believe the dataset and the model are small enough to fit into GPU memory
CPU redist : Practice 2.4

[2021-12-13 02:08] dupeng0224 opened #891 "there is no moveaxis method in np"
there is no moveaxis method in np, or other method can replace this method?

[2021-12-13 15:08] CrimyTheBold commented on #890
@Oceania2018  I noticed that commit #425b258c tagged theses unit test as Ignored. They are still green for me with latest master with Redist 2.7.0

[2021-12-13 19:31] Oceania2018 commented on #890
@CrimyTheBold It has error only in MacOS due to `hdf5` library error, Linux and Windows are both good.

[2021-12-16 15:11] CrimyTheBold commented on #876
Ok just did same test with v.60.5
CPU redist : Practice 4.09h Train 8.05m
GPU redist : Practice 4.4h Train 6.55m

So for the prediction part, GPU is 9% slower but for training GPU is 20% faster than CPU
Knowing that it seems that tensorflow is using all of my 12/24 cores cpu during the training, could we assume that the GPU version is 10-15x faster than a mono-core CPU ?

[2021-12-16 16:23] Oceania2018 commented on #876
@CrimyTheBold It's not always, because there is I/O cost underlying.
Do you have a small piece code to demostrate the slow phenomenon?

[2021-12-16 20:35] CrimyTheBold commented on #876
the prediction part being slower is not surprising because I predict values one by one instead of a big batch (due to the nature of underlying algorythm, I cannot do otherwise). So I think, it is the worst case scenario in terms of I/O : for each prediction, the input has to be marshaled and transfered to the GPU, make a single forward pass, get the result back to the CPU and un-marshal it.
It is

[2021-12-16 20:47] Oceania2018 commented on #876
`tf.device` api is not implemented yet.
api/ function level comparison is more helpful.
model level is hard to find out root cause.

[2021-12-18 14:46] Oceania2018 commented on #891
Fixed for next release.
[np.moveaxis](https://github.com/SciSharp/TensorFlow.NET/blob/28157248871e2aec0d1a03c99876233801ce7b5d/test/TensorFlowNET.UnitTest/NumPy/Manipulation.Test.cs#L29)

[2021-12-18 14:46] #891 closed

[2021-12-18 15:07] dupeng0224 commented on #891
thanks!

[2021-12-18 16:42] Oceania2018 commented on #857
Added for next release.

[2021-12-18 16:42] #857 closed

[2021-12-18 23:48] AhmedZero opened #892 "missing regularizers"
when I use the Dense layer and start to use kernel_regularizer or bias_regularizer, I found it uses IInitializer not IRegularizer and there are missing functions like regularizers.l1_l2 , regularizers.l1, and regularizers.l2.
thanks.

[2021-12-19 01:19] Oceania2018 commented on #877
@theFra985 Can you help fix and PR?

[2021-12-21 09:50] dice2019 commented on #871
set batch_size as total size of your data

[2021-12-22 13:55] dupeng0224 opened #894 "missing np.average"
missing np.average

[2021-12-25 03:04] digital-synapse opened #895 "Missing gradient function Conv2DBackpropInput"
System.Collections.Generic.KeyNotFoundException
  HResult=0x80131577
  Message=The given key 'Conv2DBackpropInput' was not present in the dictionary.
  Source=System.Private.CoreLib
  StackTrace:
   at System.ThrowHelper.ThrowKeyNotFoundException[T](T key)
   at System.Collections.Generic.Dictionary`2.get_Item(TKey key)
   at Tensorflow.Eager.EagerRunner.<>c__DisplayClass5_0.<GetGradientFunction>b

[2021-12-25 16:36] Oceania2018 commented on #894
Added `np.average` without `weights` support.

[2021-12-29 03:12] Esther2013 opened #898 "Missing tf.tensordot"
[Tensor contraction](https://www.tensorflow.org/api_docs/python/tf/tensordot) of a and b along specified axes and outer product.

[2022-01-01 11:39] dice2019 opened #899 "disable_eager_execution with keras.Model fail"
hi, when i want to disable eager mode and use keras  module:
[code]
however, it turns out throw a exception
[code]
so i check out soure code, and found that in "src\TensorFlowNET.Core\Graphs\SubGraphUtility.cs"
[code]
In fact, the var "base_graph" is not "FuncGraph", so the "internal_captures" still null.
So is that a bug or something wrong ?

[2022-01-01 16:12] Oceania2018 commented on #899
It doesn't need to `tf.compat.v1.disable_eager_execution()` in keras.

[2022-01-01 16:16] #898 closed

[2022-01-02 02:56] dice2019 commented on #899
In that case, the tensorflow.net in eager mode which is slow significantly. because not use gpu to do that.

[2022-01-02 07:04] FelixKras opened #900 "Inference exception"
This code worked on version 0.51 but broke when i upgraded to 0.61 (or any later than 0.51 ver)

I get "Cannot implicitly convert type 'Tensorflow.NumPy.NDArray[]' to 'NumSharp.NDArray[]"
at the marked line below

if I change output type than I get unimplemented exception at the ExecutionContext.cs

`using(Session sess = tf.Session(graph))
            {
                Tensor tensorNum = graph.Ope

[2022-01-02 13:56] vtelenak opened #901 "cannot compute Minimum - CategoricalCrossentropy"
Hi

`
NDArray a = np.array(new float[,] { { 0, 1, 0 }, { 0, 0, 1 } });
NDArray b = np.array(new float[,] { { 0.05f, 0.95f, 0 }, { 0.1f, 0.8f, 0.1f } });
var ce = keras.losses.CategoricalCrossentropy();
Console.WriteLine(ce.Call(a, b));`

throw exception:

Tensorflow.InvalidArgumentError
  HResult=0x80131500
  Zpráva=cannot compute Minimum as input #1(zero-based) was expected to be a float tensor b

[2022-01-02 18:15] Oceania2018 commented on #900
Please remove `NumSharp` reference, you can use `TensorFlow.NumPy` instead of `NumSharp`.

[2022-01-02 21:13] Oceania2018 commented on #899
I'm not really understand. As I know, the GPU usage has nothing to do with eager mode or not.

[2022-01-03 23:17] ginnyliou opened #902 "Model.fit() computes much slower in version 0.6.5"
With the same code base (example attached below, with 130 inputs / 3 outputs / single 60 ReLU hidden layer) and data set (roughly 500k records), the Model.fit() took roughly two hours to complete in the version 0.6.5 (as comparison, the version 0.6.2 took four minutes)

[code]

[2022-01-04 00:10] ginnyliou commented on #902
Worth noting, the slowness seems only appear in 0.6.5, as version 0.6.4 took roughly four minutes to finish (similar to 0.6.2).

[2022-01-04 01:26] dice2019 commented on #899
I thought in eager mode, the tensorflow.net just use cpu to do the predict, is that right ? I found that by dotTrace(jetbrains tool)

[2022-01-04 01:44] IamSierraCharlie commented on #664
Hello there,  is there an update on this?
Or further more, an alternative to "tf.saved_model.load"?

[2022-01-06 15:33] diego-apellaniz opened #903 "TensorArray not working"
Hello,

aren't TensorArrays compatible with the last version 0.60.5? I get the following error when I try to create a TensorArray:
![image](https://user-images.githubusercontent.com/48953695/148407651-724ae59f-59ec-4455-a0c0-9d42310d38b1.png)

I'm trying to replicate this example:
https://www.tensorflow.org/tutorials/reinforcement_learning/actor_critic

thank you very much!

[2022-01-06 22:59] thislookshard commented on #841
@Oceania2018 Thanks for all your work on this
Has there been any update on `load_model`?

It's critical to my project that it can load a HDF5 model without needing to rebuild it every time. Our models can be changed frequently by our computer vision team and we are looking to utilize them in our C# application through this.

@asadowns Have you been able to figure out a work around without having t

[2022-01-06 23:19] asadowns commented on #841
@thislookshard I have not. We ended up just switching tracks and going with `tf2onnx` to convert the model from HDF5 to ONNX and then using https://docs.unity3d.com/Packages/com.unity.barracuda@1.0/manual/index.html to run the model since our team was working on a unity project. Not sure if yours is a `.NET` application but you also might try looking into `WindowsML` as well.

[2022-01-08 14:56] santoshkc opened #904 "Out of Memory Error"
Hi,
I am new to tensorflow and was trying Tensorflow.NET to run classification example(Keras.NET example) in cifar10 dataset on NVIDIA GPU 1050(2 GB). However, I am getting out of memory error:
2022-01-08 20:21:27.378152: W tensorflow/core/framework/op_kernel.cc:1733] RESOURCE_EXHAUSTED: failed to allocate memory
Unhandled exception. Tensorflow.TensorflowException: failed to allocate memory
   at

[2022-01-08 16:37] vtelenak commented on #901
Great, it works :-)

[2022-01-08 16:37] #901 closed

[2022-01-08 23:53] Oceania2018 commented on #902
@ginnyliou Can you test v0.70?

[2022-01-08 23:56] Oceania2018 commented on #899
It depends on which version you installed [CPU ](https://www.nuget.org/packages/SciSharp.TensorFlow.Redist-Windows-GPU/)or [GPU](https://www.nuget.org/packages/SciSharp.TensorFlow.Redist-Windows-GPU/)

[2022-01-08 23:56] #899 closed

[2022-01-09 18:59] ginnyliou commented on #902
@Oceania2018 Can confirm that slowness (of each step during fit) also occurs in v0.7

[2022-01-09 19:07] Oceania2018 commented on #902
@ginnyliou Do you mind upload the complete runnable test project to reproduce the issue?

[2022-01-09 19:18] #894 closed

[2022-01-09 19:19] #900 closed

[2022-01-09 19:19] #890 closed

[2022-01-09 19:19] #869 closed

[2022-01-09 19:21] #808 closed

[2022-01-09 19:22] Oceania2018 commented on #904
Please increase your GPU phsical memory.
.NET will use more GPU memory compared to python.

[2022-01-09 19:22] #904 closed

[2022-01-12 01:22] ginnyliou commented on #902
@Oceania2018 Please find the test project at https://github.com/ginnyliou/TempRecordsAnalysis (This is a trimmed down version of the actual code, even so, we can observe the step speed difference by changing the Nuget package version in the wrapper.)

Hope this helps.

[2022-01-13 20:12] uzfm opened #905 "Simultaneous predictions from different models not possible"
[code]

**Tensorflow.RuntimeError: 'Current graph is not default graph. Default Graph Key: graph-2/, Current Graph Key: graph-1/'**

[2022-01-14 09:07] CrimyTheBold commented on #905
Have you tried the latest version (0.70.0) ? There was some significant changes to support multi-threading (with one model per thread)

[2022-01-14 10:34] uzfm commented on #905
![ghb](https://user-images.githubusercontent.com/25766808/149500925-3e9b4889-e5c1-4fbc-84a6-2f8fac942b37.png)

Everything works great with one model. If I add another model for the next forecast I get an error

[2022-01-14 10:39] uzfm commented on #905
I use
**SciSharp.TensorFlow.Redist-Windows-GPU 2.7.0
SciSharp.Models.ImageClassification 0.4.0
TensorFlowSharp 1.15.1**

[2022-01-14 10:40] uzfm commented on #905
I can download a small test program

[2022-01-14 11:16] uzfm commented on #905
[((https://drive.google.com/file/d/1R57DewCRe66w_CTnHerWuvk76ZKdxkgV/view?usp=sharing))]

[2022-01-15 16:17] Oceania2018 commented on #905
@uzfm I downloaded your sample project, it works well, can't reproduce from my side.
![image](https://user-images.githubusercontent.com/1705364/149629161-728ffbcc-c6a9-4b16-9f1b-f6d435398284.png)

[2022-01-15 16:17] #905 closed

[2022-01-16 10:44] uzfm commented on #905
Prediction is good only for the first time. If we make  prediction next time we will get error!

[2022-01-16 10:46] uzfm commented on #905
Prediction is good only for the first time. If we make  prediction next time we will get error!

[2022-01-16 11:46] uzfm commented on #905
![Image1](https://user-images.githubusercontent.com/25766808/149657887-9b49d20f-6efa-43f5-9517-cee3965615e5.png)
Next time the prediction gets an error.
 If you make a forecast for one model, everything is fine.

[2022-01-16 21:07] Oceania2018 commented on #905
@uzfm This issue has been fixed, Just upgrade to ImageClassification v0.4.2 and TensorFlow.NET v0.70.1

[2022-01-16 21:08] #903 closed

[2022-01-16 21:09] Oceania2018 commented on #903
https://github.com/SciSharp/TensorFlow.NET/blob/5a8b1cb59c25de4e3feca9c8e983f816755b1bac/test/TensorFlowNET.UnitTest/ManagedAPI/ArrayOpsTest.cs#L87

[2022-01-20 23:35] t0b4cc0 commented on #855
why is this closed? im foing the first example of this getting started.

https://scisharp.github.io/tensorflow-net-docs/#/essentials/introduction?id=getting-started

W * X does not compile

this is the error:

Error	CS0019	Operator '*' cannot be applied to operands of type 'ResourceVariable' and 'NDArray'

[2022-01-21 22:07] t0b4cc0 opened #906 "tracking "tensorflow coverage""
Hi!

The last day I looked into this project, wich is really awesome. Sadly i had to find out that quite a few things are not implemented yet.

I think for such a project it would be really relevant to have some kind of overview on what is implemented to what extent.

One of the first sentences of the readme is: "Since the APIs are kept as similar as possible you can immediately adapt any existing

[2022-01-25 00:14] Leo-LiHao commented on #804
Would you mind posting how you did it? Thanks

[2022-01-25 03:24] Leo-LiHao opened #907 "Missing support of momentum in SGD optimizer"
When I use the SGD optimizer, I noticed that it only supports setting the learning rate. Is there a way we can add support for momentum (and decay if possible) in SGD?

[2022-01-25 15:31] uzfm opened #908 "Impossible to predict the percentage of all samples."
![hub](https://user-images.githubusercontent.com/25766808/151007088-e8b07815-fdfe-4817-89e5-97b8ab114603.png)

[2022-01-25 15:43] uzfm commented on #908
![image](https://user-images.githubusercontent.com/25766808/151007611-6359523a-2c2d-4fb3-8acc-6e04d0c3636c.png)
![image](https://user-images.githubusercontent.com/25766808/151007988-f8a000d5-7f0e-4c00-98d4-12c4ee762e72.png)

[2022-01-25 15:43] uzfm commented on #908
I have several samples. can I get the result of the prediction on all samples not only one which has the highest percentage

[2022-02-04 18:52] Licho1 opened #909 "Loading keras functional (vs sequential) model is not implemented"
If you try to load functional keras model  by using:
`keras.models.load_model(path);`
It fails because it is not implemented in:
`private Model _revive_graph_network(string identifier,  KerasMetaData metadata,  int node_id)`
`else if (className == "Functional")
        throw new NotImplementedException("");`

Example of such model is for example EfficientNetB7 from keras.applications

[2022-02-12 20:33] fasteddys opened #910 "traning heath domains NER models"
Hello this is great for the C# community, can you please share some information /samples, i.e. do you have any samples for health `drugs `or pres`criptons` training models on doctors notes etc.

I saw there were some standars for each NER, but its hard to navigate your stack to figure out where this sits/belongs or even if there is a sample, we would appreciate the guidance or a sample

Often the

[2022-02-14 08:31] x-DataError-x commented on #314
// 3)
might want to throw in:
catch (IOException e)
Console.WriteLine("ERROR: {e.Message}");
or something similar.

[2022-02-17 00:04] Leo-LiHao opened #911 "How to use LSTM?"
Hi, I checked the source code of the implementation of LSTM https://github.com/SciSharp/TensorFlow.NET/blob/8d7b85aa556344430ada57d335a26d81eba25c8a/src/TensorFlowNET.Keras/Layers/LSTM.cs#L31
Seems like LSTM does not work. If so, would you mind removing the interface or raising an error when using that?
Is there a way to support LSTM?

[2022-02-17 08:58] Superpiffer opened #912 ""Cannot access a disposed object." with multithreading"
I have an issue with Tensorflow.NET 0.70.1 and a multithreading console application:
![image](https://user-images.githubusercontent.com/1334453/154437771-e5533571-5a28-48c7-be6d-682da5bc02fc.png)
I have the same problem with CPU or GPU native library, tensorflow 2.7.0.
Here you can find a sample project:
[TensorflowMultithreadingTest.zip](https://github.com/SciSharp/TensorFlow.NET/files/8087008/Te

[2022-02-21 17:46] Marevv opened #913 "Issue with clearing memory from GPU"
Hello, like mention in topic after using a class that uses tensorflow library, memory on GPU isn't released. I tried to put whole process in using statement, clearing sessions etc. I am using tensorflow with keras to build face recognition tool. I added my class to IDisposable and cleared all fields that I am using, nothing helped. GC can't clear that, it looks like it's in unmanagement memory. It

[2022-02-24 07:58] jhoeing opened #914 "Invalid GraphDef"
I am new here.
I use python tensorflow2 to train a h5 model.
In python, inference is ok.
But in tensorflow.net, when loading model, it shown up.
I don't know how to fix it. Does anybody have solution?

![image](https://user-images.githubusercontent.com/78470296/155481729-dc7e8c83-958c-4c1d-9c5d-77b161b7957d.png)

[2022-02-24 14:38] Oceania2018 commented on #914
You need to freeze the model as `pb` format.

[2022-02-25 00:21] jhoeing commented on #914
Hello, Does this thransferlearning can use in other archtecture, ex: renet?
Yesterday, I had tried inceptionv3 training with my data and the env was tensorflow 2.8.0 keras.
And I saved model to pb format.
But when I used it, it shown another error like below.

![oops](https://user-images.githubusercontent.com/78470296/155629770-ef49732f-1e19-431e-a1a2-995bb85c4576.PNG)

[2022-02-25 20:39] Oceania2018 commented on #914
Please follow this [example](https://github.com/SciSharp/SciSharp-Stack-Examples/blob/master/src/TensorFlowNET.Examples/ImageProcessing/TransferLearningWithInceptionV3.cs).

[2022-03-01 16:10] horseathesource opened #915 "Keras model.load_weights() gives FileLoadException for HDF5CSharp.dll"
There is an issue with a call from load_weights to HDF5CSharp.dll. This is the error I get:

System.IO.FileLoadException: 'Could not load file or assembly 'HDF5CSharp, Version=1.12.5.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. A strongly-named assembly is required. (Exception from HRESULT: 0x80131044)'

HDF5CSharp is installed, and even updated to 1.12.7.0. The dll is in t

[2022-03-05 06:24] Leo-LiHao opened #916 "Cannot train the Embedding layer"
Hi, I'm trying to train a model with the Embedding layer, however, it does not work. Here is the example code:

[code]

The error information:
[code]

[2022-03-09 20:36] mishun commented on #822
Test case added: #917

[2022-03-10 21:49] mishun commented on #822
Looks like I have no rights to reopen this one. Should I create new issue?

[2022-03-17 10:56] glopesdev opened #920 "Remove unused dependency injection dependency"
The dependency on the `Microsoft.Extensions.DependencyInjection` package appears to be unused, and can be safely removed from the `Tensorflow.Binding` project to reduce the number of actively required dependencies.

[2022-03-18 17:34] EnricoBos opened #922 "Error using tf.boolean_mask"
Ciao,
I am working on my own version of ("Tiny") YOLO.
These days I'm writing the object detection part but I have a problem using the tf.boolean_mask function. To figure out if there is a problem with my code (Tensor dimensions or other), I looked at the example from the official TensorFlow page expecting to get the same result.

Here is my code:
 float[,] jj = new float[3, 2];
        jj[0, 0] =

[2022-03-19 00:50] Oceania2018 commented on #922
Can you help PR an unit test for this case?

[2022-03-19 00:51] #920 closed

[2022-03-19 09:33] EnricoBos commented on #922
Ciao Oceania,
yes sure.

[2022-03-22 11:11] sportbilly21 opened #923 "System.AccessViolationException: Attempted to read or write protected memory. This is often an indication that other memory is corrupt."
Hi

I am getting an error while trying to run some unit tests.
"The type initializer for 'Tensorflow.Binding' threw an exception. ---> System.Reflection.ReflectionTypeLoadException: Unable to load one or more of the requested types. Retrieve the LoaderExceptions property for more information."
My setup is VS2019. I am building for x64
Tensorflow.Net 0.70.1
Tensorflow.Keras 0.7.0
The issue comes ei

[2022-03-23 19:58] zydjohnHotmail opened #924 "Can I use the repo to load StyleGan2 Tensorflow pre-trained model to make predication?"
Hello:
I see there is one Tensorflow implemention for StyleGan2 at this Github repo:
https://github.com/NVlabs/stylegan2
But the repo is written in Python, can I can never use Python based model for Windows 10, there is all kinds of bugs in Python software package chain. (Have to install countless Python packages.)
So, I want to know if I can use this repo to load some pre-trained Tensorflow model

[2022-03-28 08:19] ru-sh commented on #855
I have the same issue.

[2022-03-29 10:02] Andy-Elizabeth-mouse commented on #911
LSTM is not supported in Keras yet
But I found another implementation
[https://github.com/SciSharp/TensorFlow.NET/blob/master/src/TensorFlowNET.Core/Operations/NnOps/BasicLSTMCell.cs#L14](url)
I don’t know whether it works.

[2022-03-29 13:26] #923 closed

[2022-03-31 13:29] Z-shuaishuai opened #925 "model.save Can't save anything"
I use "midel.save" without saving anything. How can I save and load the trained model?

  public void Run()
        {
            //1、创建模型
            Tensorflow.Keras.Engine.Model model = BuildModel();
            model.compile(loss: keras.losses.MeanSquaredError(),
            optimizer: keras.optimizers.SGD(0.02f),
            metrics: new[] { "mae" });
            model.summary();

[2022-04-01 08:44] sportbilly21 opened #926 "Load in Memory Image either from Bitmap or from jpeg Byte array"
Hi
I am trying to run a inference with an image from memory but I getting different errors.
I have tried to convert the Bitmap to NDArray with NumSharp I am getting some issues with memory copy, I have tried creating a new Tensor from the byte array but the Tensor is never initialised is alwas null
var image = new Tensor(img, new long[] { 1, colourjpeg.Height, colourjpeg.Width,  });
I have manage

[2022-04-03 15:27] 3threeFX commented on #752
me too...

[2022-04-03 16:51] jinfeei commented on #583
So many months already... I'm facing the same issue. BTW, thanks.

[2022-04-04 09:33] Z-shuaishuai opened #927 "How should I save the loss value during training? model.fit has no return value"
How should I save the loss value during training?
model.fit has no return value

[2022-04-04 16:35] MKhaeS opened #928 "Model.predict output refreshes at each step"
https://github.com/SciSharp/TensorFlow.NET/blob/56b4b189828c88bcf1697b04a15beee932a41e50/src/TensorFlowNET.Keras/Engine/Model.Predict.cs#L58

The output variable here gets reasssigned at each step in the cycle. The following fix worked for me:
`outputs = outputs is null ? batch_outputs : tf.concat(new Tensor[] { outputs, batch_outputs }, 0);`

[2022-04-05 10:40] Regenhardt opened #929 "Use dotnet naming instead of python?"
Currently there are both PascalCase and snake_case in hete. How about changing the snake_case methods to PascalCase, so they also fit the dotnet ecosystem?

For example
boolean_mask -> BooleanMask

[2022-04-08 21:38] TheBlackPlague opened #930 "Model.summary() throws exceptions."
Hello,

I'm trying to translate a very basic model from Python to C#.

[code]

This same code in Python looks like so:
[code]

I'm quite unsure of why this doesn't work. Any assistance would be helpful.

The exception thrown is:

Model.summary():
[code]

Model.train():
[code]

[2022-04-10 10:12] 303137475 commented on #925
只能保存权重

[2022-04-11 06:00] snowaterr commented on #915
When I use 'save_weights', I got the same error as yours,  is there a solution?

[2022-04-13 10:18] Andy-Elizabeth-mouse opened #931 "tf.matmul throws exception when ndim>=3"
Tensorflow.InvalidArgumentError: In[0] and In[1] ndims must be == 2: 3

it works well in python or ndim==2

[2022-04-16 02:06] Yandychang1 opened #932 "Ability to save a trained model"
Is there an example of how to save a trained model, I have spent a significant amount of time trying to figure it out, but I am unsuccessful.

[2022-04-21 13:14] 3threeFX commented on #911
Is there a timeline for when LSTM will likely be supported in Keras.NET?

[2022-04-23 15:25] teknikal-wizard opened #934 "Stack overflow exception when applying gradients"
I'm not sure if this is a problem with my code or the library - most likely the former! I have posted on Stack Overflow if anyone has time to take a look. Thanks.

https://stackoverflow.com/questions/71980779/how-do-i-include-the-bias-term-with-other-weights-when-performing-gradient-desce

[2022-04-25 02:02] bigbugcc commented on #932
keras:
var model = Training();
model.save_weights("your_save_path_file.h5");

is this what you want ?

[2022-04-25 02:10] bigbugcc commented on #913
After training, the memory will be automatically released. check your code

[2022-04-25 02:12] bigbugcc commented on #925
model.save_weights("your_model_path_file.h5")

[2022-04-25 23:08] Yandychang1 commented on #932
I think like that it will give me a FileNotFound exception  in HDF5CSharp.dll.
Besides I think if I save the weights only in order to load them, I would need to recreate the network through implementing it, and that option may not be always available.

[2022-04-25 23:10] Yandychang1 commented on #932
Mi goal was to save the files as would be saved by tensorflow 2 so I could then save as ONNX file.

[2022-04-25 23:11] Yandychang1 commented on #932
Inability to easily achieve this is what keeps me away from using this library instead of CNTK.

[2022-04-26 01:54] bigbugcc commented on #932
I get. I can't solve this problem.
the author doesn't seem to provide relevant examples.

[2022-05-03 07:01] Superpiffer opened #935 "Checking if NDArray is null returns wrong results"
If I try to check if an NDArray is null, I get strange behavior:

[code]

I saw in NDArray.Operators.cs that if the second value is null, the result is false: https://github.com/SciSharp/TensorFlow.NET/blob/ce3ddb2321312894ef4355b2809802f7d6f62e1f/src/TensorFlowNET.Core/NumPy/NDArray.Operators.cs#L28-L29

Is that a wanted behavior? I think that if both values are null, the result should be true.

[2022-05-03 07:17] Superpiffer commented on #912
@Oceania2018 I have an update on this issue:
- I have this problem only on **.NET Framework 4.8**, not on .NET 5 or .NET 6 for some reason. I read online that maybe there are some difference in the finalize phase between .NET Framework and .NET Core: https://stackoverflow.com/a/44735403
- As a workaround, in my project I created a new Session in a wrapper class, in this class I disabled the finali

[2022-05-05 17:10] themightierdan commented on #717
I've started a simple .NET Framework4.7.2 winform project, installed the tensorflow.Net and the scisharp.tensorflow.redist nugets..
and it won't load Tensorflow.Binding.  But the same process works perfectly on .NET Core projects I'd created.  Any idea what I'm missing?

[2022-05-05 18:34] themightierdan opened #936 "Does TensorFlow.NET support .NET Framework 4.7.2"
I created a simple winform project using .NET Framework 4.7.2, installed the TensorFlow.NET and the SciSharp.TensorFlow.Redist nugets.
I get BadImageFormatException in TensorFlow.Binding.  But when I create a .NET Core project, all work fine.  Am I missing something?

[2022-05-08 12:09] #934 closed

[2022-05-10 19:40] teknikal-wizard commented on #922
I've just faced an issue with boolean mask in my project too. As a sanity check I tried using the repo test code and I see the same.

It is slightly different to @EnricoBos error.

Using
[code]
I get

[2022-05-16 18:53] BalashovK opened #937 "Please add support for complex tensors"
Support for complex tensors it there on low level, but it is not exposed to the user.

Would you please add:
tf.complex - to create a complex tensor from two tensors
tf.imag - to get imag part fro complex tensor

tf.real - to get real part from complex tensor - is already there and hopefully works?

[2022-05-22 10:55] salocinx commented on #466
Did you solve this issue? I am currently having the same issue, also using an Intel Xeon CPU, could this be the problem?

[2022-05-30 01:19] da3dsoul opened #938 "Mapping for tf.keras.layers.Multiply?"
Sorry if this is stupid. I barely know anything about this, and I'm trying to convert a python script to learn.

I'm going through and reading up on each part that doesn't have an obvious 1-1 mapping to learn what it does and how to do it, but Multiply seems like such an obvious one to exist that I feel like I'm just missing something.

Please advise. Thank you.

[2022-05-31 13:43] bemobolo commented on #922
I have experienced another error (TF.NET version 0.70.1) with `boolean_mask`:
[code]
Throws:

[code]

[2022-06-11 06:16] UCtreespring commented on #830
Sovled?
batch_normalization  trouble -----( version  Tensorflow.NET 0.40.1 Tensorflow.Keras 0.5.1)
I need your help.
like some example code about using BN function in NeuralNetwork Code.
Thanks.

[2022-06-13 11:25] wx92nlp commented on #830
same thing
i used nn_impl.batch_normalization
but :No gradient

[2022-06-14 04:17] Tomazzzzz commented on #830
Hello,
I have used function where I manually register gradient.

[code]

[2022-06-15 05:41] UCtreespring commented on #830
Thank you so much!

------------------------------
A custom gradient function？
Cool
But It doesn't sound easy for me. what a pity.
I'm Freshmen, I don't even know where this code should be.

[2022-06-15 05:42] UCtreespring commented on #830
Thank you so much!
__________________________________________________________________

A custom gradient function？
Cool
But It doesn't sound easy for me. what a pity.
I'm Freshmen, I don't even know where this code should be.

[2022-06-15 05:48] Tomazzzzz commented on #830
@UCtreespring Hi, just call it in constructor before creating/loading graph.

[2022-06-17 14:05] snowaterr opened #939 "How to train model that takes mutiple tensors as input"
I code a model for testing which takes 2 differnt tensors as input as follows:
[code]
Here I construct a Tensors with 2 tensor, which is assigned to the inputs of model. This model can be compiled without problems. Then I try to predict by this model:
[code]
Here I got an exception `System.Collections.Generic.KeyNotFoundException:“The given key '3' was not present in the dictionary.”`.Did I make a

[2022-06-17 15:21] axel578 commented on #583
So many years, I'm facing the same issue

[2022-06-17 15:45] Esther2013 commented on #583
Is anybody interested in dropping bounty for this task.
**Bountysource is the funding platform for open-source software. Users can improve the open-source projects they love by creating/collecting bounties and pledging to fundraisers.**
https://bountysource.com/

[2022-06-23 11:07] onslauth opened #941 "NDArray creation bug"
The following doesn't work:
[code]
Error:
`Exception thrown at 0x00007FF8C0FE7E20 (tensorflow.dll) in ScanIT.exe: 0xC0000005: Access violation reading location 0x0000000000000000.`

The following works:
[code]

[2022-06-28 02:01] lindadamama opened #942 "missing futures"
missing futures tf.keras.callbacks

[2022-07-12 03:15] SebastienES commented on #356
can't find
tf.tensor_scatter_*
tf. scatter_nd

[2022-07-12 03:24] bigbugcc commented on #932
I saw an [example](https://github.com/SciSharp/SciSharp-Stack-Examples/blob/991cfecd9e2497b3ae730330d98ec10b55812e8b/src/TensorFlowNET.Examples/ImageProcessing/CnnInYourOwnData.cs#L487) that uses another approach, by defining `Saver` Obj to save it, but this method doesn't work with keras API.
`var saver = tf.train.Saver(tf.global_variables());`
`saver.save(sess, ModelPath);`

[2022-07-12 07:39] zhangjiechina001 commented on #915
I also meet this problem，but when I use net.core3.1,could success save and save_weight.

[2022-07-12 12:00] Yandychang1 commented on #932
Thank you for your answer.
From what I could gather, this saves a session in TensorFlow. The issue I  found with this approach was to convert a Keras model into a session I can serialize.

[2022-07-19 09:46] NarwhalRoger commented on #252
I had same issues but every time I solved one with advices from this thread, I was getting other errors which went deeper and deeper into the system until it had already nothing to do with TensorFlow anymore. What helped me is to create completely new project ad install a bit older versions of NuGet packages (I used Microsoft.ML 1.6, Microsoft.ML.ImageAnalytics 1.6, Microsoft.ML.Visions 1.6 and Sc

[2022-07-20 23:21] starkdm opened #944 "What is ts_with method?"
`Tensorflow.Binding` class contains method `ts_with`. I can't find anything about it in the documentation.

[2022-07-25 20:11] JustinWickMS opened #945 "When will TensorFlow.NET support TensorFlow 2.9.x?"
Or does the latest version already work with TensorFlow 2.9.x?

[2022-07-30 13:41] PointerGuide commented on #944
ts_with is used in tensroflow.net source code. You should use standard using statement.

[2022-08-02 02:54] BalashovK commented on #939
Yes, model can be compiled but cannot be used.
Unfortunately, there is only version of Predict that takes "Tensor", not "Tensors"
I need to be able to feed multiple inputs into Tensorflow model too.
Dear SciSharp/Tensorflow/Keras team, please consider prioritizing adding support for multi-input models.
Thank you!

[2022-08-03 00:11] chriskasturi2 commented on #945
Same, question, I would like to know when it will be updated to support TensorFlow 2.9.x or at least 2.8.2.
Also is there a way to just build TensorFlow.NET manually to use one of these TensorFlow versions or to install a newer version of tensorflow and then configure TensorFlow.NET to use one of these new versions?

[2022-08-03 19:42] j-baudot commented on #930
Hey hi !

Same error raising on my side (except I do not compile() my model before trying to get a summary() ).

Any update ? Any experiment to share ?

Thanks,
J

[2022-08-05 19:54] illya-at-trie commented on #941
Actually, this looks almost fine to me. In your first example you are trying to create an array of 196608 floats, but provide only 196608 bytes (4 times less than necessary). Perhaps, in this case, byte[] is interpreted as the data buffer, not the values to be converted later to floats.  So it it ok to have an exception here.

The not-so-good part is that the kind of an exception thrown by memory

[2022-08-05 19:56] m0nzderr commented on #941
Actually, this looks almost fine to me. In your first example you are trying to create an array of 196608 floats, but provide only 196608 bytes (4 times less than necessary). Perhaps, in this case, byte[] is interpreted as the data buffer, not the values to be converted later to floats. So it it ok to have an exception here.

The not-so-good part is that the kind of an exception thrown by memory m

[2022-08-05 22:41] m0nzderr commented on #935
Just got into this after migrating from the older version that used NumSharp. Almost had a heart attack by watching an expression ```if (x != null)``` throwing a NullReferenceException.
It looks like it was an intended behavior, according to the implementation, but wait, this is not a Python anymore! Despite there is an "is" operator in C# now, this is not a common idiomatic form. No one should ex

[2022-08-06 15:01] m0nzderr opened #946 "missing np.zeros_like"
no ones_like is there, but np.zeros_like is missing.

[2022-08-09 03:15] TheBlackPlague commented on #930
Hello,

Sorry for my late response. Have been quite busy lately.

Sadly not. I gave up on this library a while ago.

[2022-08-11 17:50] JustinWickMS commented on #945
Is there someone we should assign this question to? Many people are waiting for newer TF support here an it would be useful to have even a vague roadmap.

[2022-08-15 17:50] ramon-garcia commented on #939
Yes, please.
Not being able to train/predict models with more than one input blocks many tasks.

[2022-08-18 21:04] jjaskulowski opened #947 "var pred = W * X + b fails to compile"
`var pred = W * X + b;`

from the regression sample fails to compile and substition to `var pred = tf.multiply(W, X) + b;`  fails with unimplemented exception.

[2022-08-25 12:28] max010515 commented on #815
Hi @Oceania2018,
Sorry for the late reply. I have recently done other tests using last version of the project but still cannot get reproducible results from successive model trainings.
As requested, I have included a runnable demo in both .Net and Python.
For the python demo, using run() function of the .py file allows to check that using seed allows to get similar results from successive training

[2022-09-02 13:19] pantokrr commented on #926
Have your tried something like this?

[code]

[2022-09-03 03:11] Toremetal opened #948 "Published Projects using this are failing after updating to this version."
Pretty sure the problem is the build configuration
TensorFlow.NET.sln
Release|x86.ActiveCfg = Release|Any CPU
              ^                                           ^

The x86 files are not included in any published version of the project. The builds are also targeting the wrong platforms in the source code when I downloaded it to figure out why 1 out of 6 bin versions of my project worked but

[2022-09-12 17:45] codingyoutub commented on #915
Did you find a solution?

[2022-09-12 17:47] codingyoutub opened #949 "Keras model.load_weights() error"
There is an issue with a call from load_weights to HDF5CSharp.dll. This is the error I get:

System.IO.FileLoadException: 'Could not load file or assembly 'HDF5CSharp, Version=1.12.5.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. A strongly-named assembly is required. (Exception from HRESULT: 0x80131044)'

Is there any way to fix it?

[2022-10-11 21:56] Pigrecos commented on #922
different solutions, one could be this(in boolean_mask function):
`var _leading_size = gen_math_ops.prod(shape(tensor_tensor)[$"{axis}:{axis + ndims_mask}"], new[] { 0 }) ;
 var leading_size = array_ops._autopacking_conversion_function(new[] { _leading_size }, _leading_size.dtype, "");`

[2022-10-12 13:30] Totemi1324 opened #950 "SciSharp.Tensorflow.Redist not copying tensorflow.dll to output directory when using net48"
The [SciSharp.Tensorflow.Redist](https://www.nuget.org/packages/SciSharp.TensorFlow.Redist/2.7.0) package does not copy the content of the `runtimes` folder to the output directory when working on .NET Framework 4.8 (despite being listed as 'compatible' on [nuget.org](https://www.nuget.org/packages/SciSharp.TensorFlow.Redist/2.7.0)). After switching to .NET 6.0, the folder gets copied correctly. T

[2022-10-13 07:47] Totemi1324 commented on #950
Update: While browsing the Nuget package file, I found this script that supposedly is responsible for the copying of the .dll files:
[code]
This is outdated for multiple reasons, one of them being that Tensorflow doesn't even support x32 (x86)-architecture, so the second half is unnecessary. More importantly, the existance of `packages.config` files that serve as a condition for copying the assemb

[2022-10-16 16:21] JeroenMBooij opened #951 "Does Tensorflow.NET support Estimators?"
TensorFlow implements several pre-made Estimators and I need some of them (listed below) for my project in .NET

- tf.compat.v1.estimator.LinearRegressor
- tf.compat.v1.estimator.DNNRegressor
- tf.compat.v1.estimator.DNNLinearCombinedRegressor

But it seems estimator is not implemented in Tensorflow.NET. Is there any way for me to implement these high level API's I need in .NET?

[2022-10-17 09:57] neojg opened #952 "Bad results of simple XOR training"
I have windows 10 CPU with:
[code]

I'm testing a simple XOR training:

[code]
The results from print command are as follow:
[code]

PROBLEM

1. When I run same sample on python/keras all is OK
2. The console does not show the training messages!
3. The c# results are incorrect!

What is wrong? Is there a way to get simmilar results for python/tensorflow/keras and the Tensorflow.Net?

[2022-10-18 08:42] lindadamama opened #953 "missing feature EarlyStopping()"
earlystop_callback = EarlyStopping(
  monitor='val_accuracy', min_delta=0.0001,
  patience=1)​
model.fit(train_dataset,
          epochs=10, callbacks=[earlystop_callback],
          validation_data=test_dataset,
          validation_freq=1)

[2022-10-19 05:01] JeroenMBooij opened #954 "Keras.Tensorflow Dense KernelRegularizer & BiasRegularizer wrong Type and missing L1 regularizer"
The Dense Layer accepts a DenseArgs object with a KernelRegularizer & BiasRegularizer property. However they are of type IInitializer, whereas keras.regularizers.l2 is of type IRegularizer. Furthermore  keras.regularizers.l1 doesn't exist in .NET, but I do need it for my model.

[2022-11-09 23:10] Oceania2018 commented on #880
Found some clue, the root cause is from the `np.Load_Npz` function. It doesn't return correct numbers in .NET 6.0.
I'll continue to do some research on this issue.

<img width="1200" alt="image" src="https://user-images.githubusercontent.com/1705364/200961646-616fc082-0890-400f-b46c-8a6700b4412d.png">

[2022-11-14 12:33] ismasanchez opened #955 "load_weight throws exception: Tensorflow.InvalidArgumentError: 'Value for attr 'T' of uint8 is not in the list of allowed values"
With the following code a model is correctly saved:

Model model;
NDArray x_train, y_train, x_test, y_test;

(x_train, y_train, x_test, y_test) = keras.datasets.mnist.load_data();
x_train = x_train.reshape((60000, 784)) / 255f;
x_test = x_test.reshape((10000, 784)) / 255f;

var inputs = keras.Input(shape: 784);

// 1st dense layer
var outputs = keras.layers.Dense(64, activation: keras.activations.

[2022-11-14 13:06] ismasanchez commented on #955
My fault, the x_test values should have been divided by float 255 like this:

(x_train, y_train, x_test, y_test) = keras.datasets.mnist.load_data();
x_test = x_test.reshape((10000, 784)) / 255f;

model.evaluate(x_test, y_test, verbose: 2);

But now I get NullReference exception on function model.evaluate:

System.NullReferenceException
  HResult=0x80004003
  Message=Object reference not set to an

[2022-11-14 13:06] Oceania2018 commented on #955
@ismasanchez I run it locally, it works no any problem. I paste the sample code here:
[code]
[code]

[2022-11-14 13:06] #955 closed

[2022-11-14 13:08] ismasanchez commented on #955
@Oceania2018 correct, now it works, I missed the following:

  model.compile(loss: keras.losses.SparseCategoricalCrossentropy(from_logits: true),
        optimizer: keras.optimizers.RMSprop(),
        metrics: new[] { "accuracy" });

You can close this issue, thanks for your quick response.

[2022-11-16 03:22] puppyjuan opened #956 "conv_net.load_weights failed where accuracy_test = 0.1"
I add conv_net.save_weights and conv_net.load_weights in example code "TensorFlowNET.Examples\ImageProcessing\MnistCnnKerasSubclass.cs" as follow, but the accuracy_test in test() function is 0.1 after conv_net.load_weights .

using System.Linq;
using Tensorflow;
using Tensorflow.Keras.ArgsDefinition;
using Tensorflow.Keras.Engine;
using Tensorflow.Keras.Optimizers;
using Tensorflow.NumPy;
using st

[2022-11-16 19:57] Oceania2018 commented on #952
@neojg Hi, I've found an issue regarding the `trainable_variables` in the `Model`. It will be fixed for next release. Below is the latest test in my local machine. The result looks pretty awesome.

[code]

[2022-11-16 19:57] #952 closed

[2022-11-18 09:11] lionwu opened #957 "Add a LSTM layer into Sequential model"
Hi,
I am trying to add a LSTM layer into Sequential model like this:

`
ILayer fc1 = new  LSTM(new LSTMArgs() { Units = 100, DType = TF_DataType.TF_FLOAT, Name = "L1" });
ILayer output = new Dense(new DenseArgs() { Units = 1, DType = TF_DataType.TF_FLOAT, Name = "OP"});

Sequential model = new Sequential(new SequentialArgs() { Name = "MyNN" });
model.add(fc1);
model.add(output);

//...............

[2022-11-18 18:16] Oceania2018 commented on #957
@lionwu LSTM layer has not been implemted yet. It's in the backlog.

[2022-11-19 03:54] lionwu commented on #957
@Oceania2018  Thank you for your contribution! Looking forward to the early release (^^)b

[2022-11-21 00:02] ismasanchez commented on #832
I could resolve this issue in two ways:

Option 1: Using CategoricalCrossentropy Loss function instead.

In this option, the target that is a boolean 0 or 1, is separated into an array like this: 0 => {0,1} and 1 => {1,0}

The last layers should then be like this: keras.layers.Dense(2, activation: keras.activations.Softmax).Apply(outputs)

model.compile(loss: keras.losses.CategoricalCrossentropy()

[2022-11-22 03:57] matthew-e-brown opened #958 "Multithreading with Keras and `model.make_predict_function()`"
I've written a small ASP.NET server to accept data as input into a Keras model. Everything was working fine in testing, until it came time to actually send a POST request. When running `Model.predict` in an `async` call, I get the following error:

[code]

Everything I've seen online regarding this "Attempting to capture EagerTensor" error has said that it's due to multithreading, and [the advice

[2022-11-22 14:51] matthew-e-brown commented on #958
I've just gone and refactored my function and found that it doesn't work even when using a non-`async` function.

I've put the code for this example up on a GitHub Gist: https://gist.github.com/matthew-e-brown/5dfeb557b4f2b0de90c8659760dd5131

[2022-11-23 08:25] lionwu commented on #915
save  can use in net.core3.1.  Save and save_weight can't work on .net frameworks

[2022-11-23 16:45] Oceania2018 commented on #915
@lionwu Can you help check if the [HDF5-CSharp](https://www.nuget.org/packages/HDF5-CSharp/1.16.2) works in your side?

[2022-11-24 02:34] lionwu commented on #915
@Oceania2018   no, still the same msg  "System.IO.FileLoadException: 'Could not load file or assembly 'HDF5CSharp, Version=1.12.5.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. A strongly-named assembly is required." in .NetFramework 4.8.   But it's work on net.core3.1.  I am update HDF5CSharp to 1.16.2

[2022-11-24 03:29] lionwu commented on #814
There are still some problems below:

1. after invoke model.fit(), model.weights is a empty list
2. model.save_weights() is work, but when I rebuild model and load weight and predict again, model.load_weights() is not work correctly.

<pre><code>
//training model
Sequential model = BuildModel();
model.compile(optimizer: keras.optimizers.Adam(learning_rate), loss: keras.losses.MeanSquaredError(), m

[2022-11-24 09:35] codingyoutub commented on #915
The save issue has been resolved, but load_model is still not working

[2022-11-26 14:48] Oceania2018 commented on #944
Good point, `tf_with` is just for internal use, will be replaced gradually.

[2022-11-26 14:48] #944 closed

[2022-11-26 14:55] Oceania2018 commented on #945
@JustinWickMS [Latest version](https://www.nuget.org/packages/TensorFlow.NET/0.70.2) support v2.10.x already. Sorry for the slow response due to limited spare time to work on this open source project.

[2022-11-26 14:55] #945 closed

[2022-11-26 14:58] Oceania2018 commented on #941
@onslauth Please reopen this issue if you still have any problem.

[2022-11-26 14:58] #941 closed

[2022-11-26 15:00] Oceania2018 commented on #929
@Regenhardt For user level APIs we decided to keep thie `snake_case`, for internal implementation, we maybe would change to PascalCase to make .NET developers feel better.

[2022-11-26 15:00] #929 closed